
.dlog-center-row,.dlog-center-header {
	margin-right: 2px;
}
.dlog-row {
    background-color: #F2F3F4;
    text-align: center;
    font-weight: 400;
    margin-top:1px;
    margin-bottom:1px;
}

.dlog-header {
    background-color: #ccc;
    text-align: center;
    font-size:14px;
    font-weight:bold;
    background-color: #b5b5b5;
    padding:1px;
    line-height:2em;
    text-transform: uppercase;
}

.d-log-input{
	width:100%;
}

@media only screen and (max-width: 599px) {
    #datalogtable {
        max-height: 200px;
    }
/*    #axis {
        right: 20px;
        top: initial;
        font-size: 8px;
        width:25%;
    }
    #vehicle {
        top: initial;
        left: initial;
        font-size: 8px;
        width:35%;
    }*/
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    #datalogtable {
        max-height: 250px;
    }
/*    #axis {
        right: 0px;
        top: initial;
        font-size: 8px;
        width:30%;
    }
    #vehicle {
        top: initial;
        left: initial;
        font-size: 8px;
        width:35%;
    }*/
}

