<div class="saveloaddatatable mainclk">
	<div class="settingstop">
        <div class="row settingsrightcol" style="display: table; height:23.33%;">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Type">Select Type</label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div>
                	<ui-select tagging ng-model="selected.type" theme="bootstrap" >
        				<ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
        				<ui-select-choices repeat="type in types">
            				<div ng-bind="type.value | highlight: $select.search"></div>
        				</ui-select-choices>
        			</ui-select>
                    <span ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'EventGroup'"> Required </span>
                </div>          
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-5" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Timezone" ng-show="selected.type.value == 'Timezone'">Select Timezone</label>
                    <label for="Events" ng-show="selected.type.value == 'Events'">Select Events</label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div ng-show="selected.type.value == 'Timezone'">
                    <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                        <ui-select-match placeholder="Select Timezone">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="timezone in timezones">
                            <div ng-bind="timezone.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span ng-hide="selected.timezone"> Required </span>
                </div>
                <div ng-show="selected.type.value == 'Events'">
                    <div ng-dropdown-multiselect=""  search-filter="customFilter"  options="selectByGroupData" selected-model="selectByGroupModel" extra-settings="selectByGroupSettings" class="multidrpdown"></div>
                    <span ng-hide="selected.event"> Required </span>
                </div>
            </div> 
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsrightcol" style="display: table; height:23.33%;">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none"></div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-5" style="display: table-cell; float:none" ng-show="selected.type.value == 'Events'">
                <div class="row">
                    <label for="EventOrder">Event Order</label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                    <div id="scrollable-container">
                        <div class="sortable-row" as-sortable="sortableOptions" data-ng-model="itemsList.items1">
                            <div ng-repeat="item in itemsList.items1" as-sortable-item>
                                <div as-sortable-item-handle style="color:#000000">{{item.Label}}</div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsrightcol" style="display: table; height:23.33%;"></div>
		<div class="row settingsbottom" style="display:table">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					<hr>
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10 btndivider">
					<button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)">ADD</button>
					<button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeSettings(widget)">CLOSE</button>
				</div>
			</div>	
		</div>		
	</div>
</div>

<!-- For Mobile Screens -->
<div class="container mbl-clk">
    <form>
        <label for="Type" class="mbl-label">Select Type</label>
        <div class="mbl-input-grp">
            <ui-select tagging ng-model="selected.type" theme="bootstrap">
                <ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="type in types">
                    <div ng-bind="type.value | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <span ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'Events'"
                    class="req-label"> Required </span>
        </div>
        <label for="Timezone" ng-show="selected.type.value == 'Timezone'" class="mbl-label">Select Timezone</label>
        <label for="Name" ng-show="selected.type.value == 'Events'" class="mbl-label" >Name</label>
        <div ng-show="selected.type.value == 'Timezone'">
            <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                <ui-select-match placeholder="Select Timezone">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="timezone in timezones">
                    <div ng-bind="timezone.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <span ng-hide="selected.timezone" class="req-label"> Required </span>
            <hr class="hr-double-col1-2-Timezone">
        </div>
            <div ng-show="selected.type.value == 'Events'">
                <div ng-dropdown-multiselect="" options="selectByGroupData" selected-model="selectByGroupModel" extra-settings="selectByGroupSettings" class="multidrpdown"></div>
                <span ng-hide="selected.event"> Required </span>
            </div>
            <label for="Event Order" class="mbl-label" ng-show="selected.type.value == 'Events'">Event Order</label>
                <div id="scrollable-container">
                    <div class="sortable-row" as-sortable="sortableOptions" data-ng-model="itemsList.items1">
                        <div ng-repeat="item in itemsList.items1" as-sortable-item>
                            <div as-sortable-item-handle style="color:#000000">{{item.Label}}</div>
                        </div>
                    </div>
                </div>
        <hr class="hr-double-col1-2" ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'EventGroup'">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)">ADD</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeSettings(widget)">CLOSE</button> 
    </form>
</div>

<!-- For Tablet Screens -->
<div class="saveloaddatatable tablet-clk">
    <div class="settingstablettop">
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:16px;">
                    <label for="Type" class="mbl-label">Select Type</label>
                </div>
                <div class="mbl-input-grp">
                    <ui-select tagging ng-model="selected.type" theme="bootstrap">
                        <ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="type in types">
                            <div ng-bind="type.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'Events'"
                    class="req-label pull-right"> Required </span>
                </div>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div> 
        </div>
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px">
                    <label for="Timezone" ng-show="selected.type.value == 'Timezone'" class="mbl-label">Select Timezone</label>
                    <label for="Name" ng-show="selected.type.value == 'Events'" class="mbl-label" >Name</label>
                </div>
                <div ng-show="selected.type.value == 'Timezone'">
                    <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                        <ui-select-match placeholder="Select Timezone">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="timezone in timezones">
                            <div ng-bind="timezone.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span ng-hide="selected.timezone" class="req-label"> Required </span>
                </div>
                <div ng-show="selected.type.value == 'Events'">
                    <div ng-dropdown-multiselect="" options="selectByGroupData" selected-model="selectByGroupModel" extra-settings="selectByGroupSettings" class="multidrpdown"></div>
                    <span ng-hide="selected.event"> Required </span>
                </div>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div>
        </div>
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px">
                    <label for="Events" class="mbl-label" ng-show="selected.type.value == 'Events'">Event Order</label>
                </div>
                <div ng-show="selected.type.value == 'Events'">
                    <div id="scrollable-container">
                        <div class="sortable-row" as-sortable="sortableOptions" data-ng-model="itemsList.items1">
                            <div ng-repeat="item in itemsList.items1" as-sortable-item>
                                <div as-sortable-item-handle style="color:#000000">{{item.Label}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div>
        </div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)">ADD</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeSettings(widget)">CLOSE</button> 
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div>      
</div>
