<div class="saveloaddatatable maintimeline">
	<div class="settingstop">
        <form name="timeZoneEventsForm" style="display:inline">
            <div class="row settingsrightcol" style="display: table; height:33.33%;">
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
                <div class="col-sm-4" style="display: table-cell; float:none">
                    <div class="row">
                        <label for="Type">Select Type</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px">
                            <md-tooltip md-direction="top">Add a Timezone or Select Timeline Events</md-tooltip>
                        </span>
                    </div>
                    <div class="row settingsspace" style="display: table;height:13px"></div>
                    <div>
                    	<ui-select tagging ng-model="selected.type" theme="bootstrap" >
            				<ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
            				<ui-select-choices repeat="type in types">
                				<div ng-bind="type.value | highlight: $select.search"></div>
            				</ui-select-choices>
            			</ui-select>
                    </div>          
                </div>
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
                <div class="col-sm-5" style="display: table-cell; float:none">
                    <div class="row">
                        <label for="Timezone" ng-show="selected.type.value == 'Timezone'">Timezone</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px" ng-show="selected.type.value == 'Timezone'">
                            <md-tooltip md-direction="top">Select any timezone</md-tooltip>
                        </span>
                        <label for="Events" ng-show="selected.type.value == 'Events'">Events</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px" ng-show="selected.type.value == 'Events'">
                            <md-tooltip md-direction="top">Select timeline events or event groups</md-tooltip>
                        </span>
                    </div>
                    <div class="row settingsspace" style="display: table;height:13px"></div>
                    <div ng-show="selected.type.value == 'Timezone'">
                        <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                            <ui-select-match placeholder="Select Timezone">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="timezone in timezones">
                                <div ng-bind="timezone.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="timezoneErrMsg.length > 0" style="font-size:14px;color:#dd2c00">{{ timezoneErrMsg }}</span>
                    </div>
                    <div ng-show="selected.type.value == 'Events'">
                        <div ng-dropdown-multiselect=""  search-filter="customFilter"  options="selectByGroupData" selected-model="selectByGroupModel" extra-settings="selectByGroupSettings" class="multidrpdown"></div>
                        <span ng-show="selectByGroupModel.length === 0 && selectByGroupData.length > 0" style="font-size:14px;color:#dd2c00">Select atleast one event</span>
                        <span ng-show="selectByGroupModel.length === 0 && selectByGroupData.length === 0" style="font-size:14px;color:#dd2c00">No Events Available.Please upload timeline data file</span>
                    </div>
                </div> 
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
            </div>
            <div class="row settingsrightcol" style="display: table; height:23.33%;">
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
                <div class="col-sm-4" style="display: table-cell; float:none"></div>
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
                <div class="col-sm-5" style="display: table-cell; float:none" ng-show="selected.type.value == 'Events'">
                    <div class="row">
                        <label for="EventOrder">Event Order</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px" ng-show="selected.type.value == 'Events'">
                            <md-tooltip md-direction="top">Drag and drop to change the event group order</md-tooltip>
                        </span>
                    </div>
                    <div class="row settingsspace" style="display: table;height:13px"></div>
                    <div id="scrollable-container">
                        <div class="sortable-row" as-sortable="sortableOptions" data-ng-model="itemsList.items1">
                            <div ng-repeat="item in itemsList.items1" as-sortable-item>
                                <div as-sortable-item-handle style="color:#000000">{{item.Label}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
            </div>
            <div class="row settingsrightcol" style="display: table; height:13.33%;"></div>
    		<div class="row settingsbottom" style="display:table">
    			<div class="row">
    				<div class="col-sm-1"></div>
    				<div class="col-sm-10">
    					<hr>
    				</div>
    			</div>			
    			<div class="row">
    				<div class="col-sm-1"></div>
    				<div class="col-sm-10 btndivider">
    					<button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Timezone'" ng-disabled="!selected.timezone">ADD</button>
                        <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Events'" ng-disabled="!selectByGroupModel || selectByGroupModel.length === 0">SAVE</button>
                        <button type="button" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)" ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'Events' " ng-disabled="selected.type.value !== 'Timezone' || selected.type.value !== 'Events'">SAVE</button>
    					<button type="button" class="btn btn-primary col-sm-2 sbtns" ng-click="closeSettings(widget)">CLOSE</button>
    				</div>
    			</div>	
    		</div>
        </form>		
	</div>
</div>

<!-- For Mobile Screens -->
<div class="container mbl-timeline">
    <form name="timeZoneEventsForm">
        <label for="Type" class="mbl-label">Select Type</label>
        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px">
            <md-tooltip md-direction="top">Add a Timezone or Select Timeline Events</md-tooltip>
        </span>
        <div class="mbl-input-grp">
            <ui-select tagging ng-model="selected.type" theme="bootstrap">
                <ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="type in types">
                    <div ng-bind="type.value | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <label for="Timezone" ng-show="selected.type.value == 'Timezone'" class="mbl-label">Timezone</label>
        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px" ng-show="selected.type.value == 'Timezone'">
            <md-tooltip md-direction="top">Select any timezone</md-tooltip>
        </span>               
        <label for="Name" ng-show="selected.type.value == 'Events'" class="mbl-label" >Events</label>
        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px" ng-show="selected.type.value == 'Events'">
            <md-tooltip md-direction="top">Select timeline events or event groups</md-tooltip>
        </span>
        <div ng-show="selected.type.value == 'Timezone'">
            <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                <ui-select-match placeholder="Select Timezone">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="timezone in timezones">
                    <div ng-bind="timezone.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <span ng-show="timezoneErrMsg.length > 0" style="font-size:10px;color:#dd2c00" class="req-label">{{ timezoneErrMsg }}</span>
            <hr class="hr-double-col1-2-timezone">
        </div>
        <div ng-show="selected.type.value == 'Events'">
            <div ng-dropdown-multiselect="" options="selectByGroupData" selected-model="selectByGroupModel" extra-settings="selectByGroupSettings" class="multidrpdown"></div>
            <span ng-show="selectByGroupModel.length === 0 && selectByGroupData.length > 0" style="font-size:10px;color:#dd2c00" class="req-label">Select atleast one event</span>
            <span ng-show="selectByGroupModel.length === 0 && selectByGroupData.length === 0" style="font-size:10px;color:#dd2c00" class="req-label">No Events Available.Please upload timeline data file</span>
        </div>
        <label for="Event Order" class="mbl-label" ng-show="selected.type.value == 'Events'">Event Order</label>
         <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px" ng-show="selected.type.value == 'Events'">
             <md-tooltip md-direction="top">Drag and drop to change the event group order</md-tooltip>
         </span>
        <div ng-show="selected.type.value == 'Events'">
            <div id="scrollable-container">
                <div class="sortable-row" as-sortable="sortableOptions" data-ng-model="itemsList.items1">
                    <div ng-repeat="item in itemsList.items1" as-sortable-item>
                        <div as-sortable-item-handle style="color:#000000">{{item.Label}}</div>
                    </div>
                </div>
            </div>
            <hr class="hr-double-col1-2-events">
        </div>
        <hr class="hr-double-col1-2" ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'Events'">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Timezone'">ADD</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Events'" ng-disabled="selectByGroupModel.length === 0">SAVE</button>
        <button type="button" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)" ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'Events' " ng-disabled="selected.type.value !== 'Timezone' || selected.type.value !== 'Events'">SAVE</button>
        <button type="button" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeSettings(widget)">CLOSE</button> 
    </form>
</div>

<!-- For Tablet Screens -->
<div class="saveloaddatatable tablet-timeline">
    <div class="settingstablettop">
        <form name="timeZoneEventsForm">
            <div class="row settingstablet-col1-3el tablestyle">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <div class="row" style="height:16px;">
                        <label for="Type" class="mbl-label">Select Type</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px">
                            <md-tooltip md-direction="top">Add a Timezone or Select Timeline Events</md-tooltip>
                        </span>
                    </div>
                    <div class="mbl-input-grp">
                        <ui-select tagging ng-model="selected.type" theme="bootstrap">
                            <ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="type in types">
                                <div ng-bind="type.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-1 tablecellstyle1"></div> 
            </div>
            <div class="row settingstablet-col1-3el tablestyle">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <div class="row" style="height:19px">
                        <label for="Timezone" ng-show="selected.type.value == 'Timezone'" class="mbl-label">Timezone</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px" ng-show="selected.type.value == 'Timezone'">
                            <md-tooltip md-direction="top">Select any timezone</md-tooltip>
                        </span> 
                        <label for="Name" ng-show="selected.type.value == 'Events'" class="mbl-label" >Events</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px"  ng-show="selected.type.value == 'Events'">
                            <md-tooltip md-direction="top">Select timeline events or event groups</md-tooltip>
                        </span>
                    </div>
                    <div ng-show="selected.type.value == 'Timezone'">
                        <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                            <ui-select-match placeholder="Select Timezone">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="timezone in timezones">
                                <div ng-bind="timezone.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span ng-show="timezoneErrMsg.length > 0" style="font-size:10px;color:#dd2c00" class="req-label">{{ timezoneErrMsg }}</span>
                    </div>
                    <div ng-show="selected.type.value == 'Events'">
                        <div ng-dropdown-multiselect="" options="selectByGroupData" selected-model="selectByGroupModel" extra-settings="selectByGroupSettings" class="multidrpdown"></div>
                        <span ng-show="selectByGroupModel.length === 0 && selectByGroupData.length > 0" style="font-size:12px;color:#dd2c00" class="req-label">Select atleast one event</span>
                        <span ng-show="selectByGroupModel.length === 0 && selectByGroupData.length === 0" style="font-size:12px;color:#dd2c00" class="req-label">No Events Available.Please upload timeline data file</span>
                    </div>
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row settingstablet-col1-3el tablestyle">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <div class="row" style="height:19px">
                        <label for="Events" class="mbl-label" ng-show="selected.type.value == 'Events'">Event Order</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px" ng-show="selected.type.value == 'Events'">
                            <md-tooltip md-direction="top">Drag and drop to change the event group order</md-tooltip>
                        </span>
                    </div>
                    <div ng-show="selected.type.value == 'Events'">
                        <div id="scrollable-container">
                            <div class="sortable-row" as-sortable="sortableOptions" data-ng-model="itemsList.items1">
                                <div ng-repeat="item in itemsList.items1" as-sortable-item>
                                    <div as-sortable-item-handle style="color:#000000">{{item.Label}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row settingstabletbottom-col1-3el tablestyle">
                <div class="row">
                    <div class="col-sm-1 tablecellstyle1"></div>
                    <div class="col-sm-10 tablecellstyle10">
                        <hr class="col1-2-hr">
                    </div>
                    <div class="col-sm-1 tablecellstyle1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1 tablecellstyle1"></div>
                    <div class="col-sm-10 btndivider tablecellstyle10">
                        <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Timezone'">ADD</button>
                        <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Events'" ng-disabled="selectByGroupModel.length === 0">SAVE</button>
                        <button type="button" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)" ng-hide="selected.type.value == 'Timezone' || selected.type.value == 'Events' " ng-disabled="selected.type.value !== 'Timezone' || selected.type.value !== 'Events'">SAVE</button>
                        <button type="button" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeSettings(widget)">CLOSE</button> 
                    </div>
                    <div class="col-sm-1 tablecellstyle1"></div>
                </div>  
            </div>
        </form>
    </div>      
</div>
