<div class="settingsMenu maindt">
    <div class="settingstop">
        <div class="row settingsrightcol" style="display: table">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none">
                <div class="row">
                    <label for="CategoryDisplay">Select Table Columns</label>
                    <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px">
                        <md-tooltip md-direction="top">Required atleast one column</md-tooltip>  
                    </span>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div>
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle load-widget-styles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="pull-left">Columns</span> <span class="caret caretstyles"></span>
                        </button>
                        <ul class="dropdown-menu categorydrpdown">
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="id" ng-model="checkedValues.checkedId">Id</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="alarm_low" ng-model="checkedValues.checkedAlow">Alarm Low</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="warn_low" ng-model="checkedValues.checkedWlow">Warn Low</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="value" ng-model="checkedValues.checkedValue">Value</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="warn_high" ng-model="checkedValues.checkedWhigh">Warn High</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="alarm_high" ng-model="checkedValues.checkedAhigh">Alarm High</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="units" ng-model="checkedValues.checkedUnits">Units</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedNotes">Notes</li>
                            <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedChannel">Channel</li>
                        </ul>
                    </div>
                    <span ng-show="columnSelectionErrMsg.length > 0" style="font-size:14px;color:#dd2c00">{{ columnSelectionErrMsg }}</span>
                </div>          
            </div>
            <div class="col-sm-2" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none"></div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsbottom" style="display: table">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveDataTableSettings(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeDataTableSettings(widget)">CLOSE</button>
                </div>
            </div>
        </div>  
    </div>      
</div>

<!-- For Mobile Screens -->
<div class="container mbl-dt">
    <form>
        <label for="CategoryDisplay" class="mbl-label">Select Table Columns</label>
         <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px">
            <md-tooltip md-direction="top">Required atleast one column</md-tooltip> 
         </span>
        <div class="dropdown mbl-label mbl-input-grp mbl-inputitems">
            <button type="button" class="btn dropdown-toggle load-widget-styles mbl-inneritems mbl-inneritems mbl-input-grp mbl-inputitems mbl-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left drpdwn-name">Columns</span> <span class="caret  pull-right drpdwn-caret"></span>
            </button>
            <ul class="dropdown-menu categorydrpdown" style="padding-top:0px;padding-bottom:0px;">
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="id" ng-model="checkedValues.checkedId" style="margin-top:0px"/>Id</li>
<!--                 <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="name" ng-model="checkedValues.checkedName" style="margin-top:0px"/>Name</li> -->
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="alarm_low" ng-model="checkedValues.checkedAlow" style="margin-top:0px"/>Alarm Low</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="warn_low" ng-model="checkedValues.checkedWlow" style="margin-top:0px"/>Warn Low</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="value" ng-model="checkedValues.checkedValue" style="margin-top:0px"/>Value</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="warn_high" ng-model="checkedValues.checkedWhigh" style="margin-top:0px"/>Warn High</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="alarm_high" ng-model="checkedValues.checkedAhigh" style="margin-top:0px"/>Alarm High</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="units" ng-model="checkedValues.checkedUnits" style="margin-top:0px"/>Units</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedNotes" style="margin-top:0px"/>Notes</li>
                <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedChannel" style="margin-top:0px"/>Channel</li>
            </ul>
        </div>
        <span ng-show="columnSelectionErrMsg.length > 0" class="req-label" style="font-size:10px;color:#dd2c00">{{ columnSelectionErrMsg }}</span>
        <hr class="hr-double-col1">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveDataTableSettings(widget)">SAVE</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeDataTableSettings(widget)">CLOSE</button>    
</form>
</div>

<!-- For Tablet Screens -->
<div class="saveloaddatatable tablet-dt">
    <div class="settingstablettop">
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px;">
                    <label for="CategoryDisplay" class="mbl-label">Select Table Columns</label>
                     <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px">
                        <md-tooltip md-direction="top">Required atleast one column</md-tooltip> 
                     </span>
                </div>
                <div class="dropdown mbl-label mbl-input-grp mbl-inputitems">
                    <button type="button" class="btn dropdown-toggle load-widget-styles mbl-inneritems mbl-inneritems mbl-input-grp mbl-inputitems mbl-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="pull-left drpdwn-name">Columns</span> <span class="caret  pull-right drpdwn-caret"></span>
                    </button>
                    <ul class="dropdown-menu categorydrpdown" style="padding-top:0px;padding-bottom:0px;">
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="id" ng-model="checkedValues.checkedId" style="margin-top:0px"/>Id</li>
<!--                         <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="name" ng-model="checkedValues.checkedName" style="margin-top:0px"/>Name</li> -->
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="alarm_low" ng-model="checkedValues.checkedAlow" style="margin-top:0px"/>Alarm Low</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="warn_low" ng-model="checkedValues.checkedWlow" style="margin-top:0px"/>Warn Low</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="value" ng-model="checkedValues.checkedValue" style="margin-top:0px"/>Value</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="warn_high" ng-model="checkedValues.checkedWhigh" style="margin-top:0px"/>Warn High</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="alarm_high" ng-model="checkedValues.checkedAhigh" style="margin-top:0px"/>Alarm High</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="units" ng-model="checkedValues.checkedUnits" style="margin-top:0px"/>Units</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedNotes" style="margin-top:0px"/>Notes</li>
                        <li class="checkbox cbox drpdown-list-item"><input class="drpdwn-input-item" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedChannel" style="margin-top:0px"/>Channel</li>
                    </ul>
                </div>
                <span ng-show="columnSelectionErrMsg.length > 0" class="req-label" style="font-size:10px;color:#dd2c00">{{ columnSelectionErrMsg }}</span>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div> 
        </div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveDataTableSettings(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeDataTableSettings(widget)">CLOSE</button>    
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div>      
</div>





