<div class="savestyles">
    <form class="form-inline" >
        <div class="row">
            <div class="col-sm-5">
                <label for="CategoryDisplay">Category Display</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="dropdown">
                <button type="button" class="btn dropdown-toggle load-widget-styles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left">Category</span> <span class="caret caretstyles"></span>
                </button>
                <ul class="dropdown-menu categorydrpdown">
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="id" ng-model="checkedValues.checkedId">Id</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="name" ng-model="checkedValues.checkedName">Name</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="alarm_low" ng-model="checkedValues.checkedAlow">Alarm Low</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="warn_low" ng-model="checkedValues.checkedWlow">Warn Low</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="value" ng-model="checkedValues.checkedValue">Value</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="warn_high" ng-model="checkedValues.checkedWhigh">Warn High</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="alarm_high" ng-model="checkedValues.checkedAhigh">Alarm High</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="units" ng-model="checkedValues.checkedUnits">Units</li>
                    <li class="checkbox cbox"><input style="margin-top: -2px" type="checkbox" value="" name="notes" ng-model="checkedValues.checkedNotes">Notes</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11">
            <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11">
            <button type="submit" class="btn btn-primary sbtns" ng-click="saveDataTableSettings(widget)">SAVE</button>
            <button type="submit" class="btn btn-primary sbtns" ng-click="closeDataTableSettings(widget)">CLOSE</button>
            </div>
        </div>
    </form>
</div>











