<table class="table table-bordered col-md-10">
    <thead id="telehead" class="datatableheader">
        <tr>
            <th id="category" style="width:0.1%;padding:4px"></th>
            <th id="id" style="text-align:left;width:10%;padding:4px" class="id mbl-dt-header" ng-show="checkedValues.checkedId" title="Telemetry Id">ID</th>
            <th id="name" style="text-align:left;width:25%;padding:4px" class="name mbl-dt-header" ng-show="checkedValues.checkedName" title="Telemetry Name">NAME</th>
            <th id="alarm_low" style="text-align:center;width:7%;padding:4px" class="alarm_low numeric mbl-dt-header" ng-show="checkedValues.checkedAlow"><img src="../icons/datatable-widget/data_table_cat_ALARMLOW.svg" class="img_alow" title="Alarm low value"/></th>
            <th id="warn_low" style="text-align:center;width:7%;padding:4px" class="warn_low numeric mbl-dt-headerimg" ng-show="checkedValues.checkedWlow"><img src="../icons/datatable-widget/data_table_cat_WARNLOW.svg" class="img_alow" title="Warn low value"/></th>
            <th id="value" style="text-align:center;width:7%;padding:4px" class="value numeric mbl-dt-headerimg" ng-show="checkedValues.checkedValue"><img src="../icons/datatable-widget/data_table_cat_VALUE.svg" class="img_alow" title="Value"/></th>
            <th id="warn_high" style="text-align:center;width:7%;padding:4px" class="warn_high numeric mbl-dt-headerimg" ng-show="checkedValues.checkedWhigh"><img src="../icons/datatable-widget/data_table_cat_WARNHIGH.svg" class="img_alow" title="Warn high value"/></th>
            <th id="alarm_high" style="text-align:center;width:7%;padding:4px" class="alarm_high numeric mbl-dt-headerimg" ng-show="checkedValues.checkedAhigh"><img src="../icons/datatable-widget/data_table_cat_ALARMHIGH.svg" class="img_alow" title="Alarm high value"/></th>
            <th id="units" style="text-align:left;width:5%;padding:4px" class="units mbl-dt-header" ng-show="checkedValues.checkedUnits" title="Units">UNITS</th>
            <th id="notes" style="text-align:left;width:14.9%;padding:4px" class="notes mbl-dt-header" ng-show="checkedValues.checkedNotes" title="Notes">NOTES</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in table.rows" class="animate-repeat" ng-style="row.colorin">
            <td class="categoryID-arrow" style="padding:2px 4px;text-align: center">
                <div class="btn-group selectmenu">
                   <a href="#" style="width:100%" class="btn btn-default arrowbtn" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-right side-arrow" id="side-arrow" style="font-weight:bolder"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu drpmenu" role="menu" id="drpmenu">
                        <li class="uldrpmenu"><a href="#" ng-class="{disabled:row.disabled}" ng-disabled="row.disabled" ng-click="row.disabled || getTelemetrydata($event)">Select Telemetry Id</a></li>
                        <li><a href="#" ng-class="{disabled:row.disabled}" ng-disabled="row.disabled" ng-click="row.disabled || getValue($event,row,$index)">Apply Telemetry Id</a></li>
                        <li class="uldrpmenu"><a href="#" ng-class="{disabled:row.disabled}" ng-disabled="row.disabled" ng-click="row.disabled || getTelemetrydata($event)">Select Group</a></li>
                        <li><a href="#" ng-class="{disabled:row.disabled}" ng-disabled="row.disabled" ng-click="row.disabled || applyGroup($event,row,$index)">Apply Group</a></li>
                        <li class="divider liner"></li>
                        <li><a href="#" class="row-above" ng-click="addRowAbove($index)">Add Row Above</a></li>
                        <li><a href="#" class="row-below" ng-click="addRowBelow($index)">Add Row Below</a></li>
                        <li><a href="#" class="move-up" ng-click="moveRowUp($index)">Move Row Up</a></li>
                        <li><a href="#" class="move-down" ng-click="moveRowDown($index)">Move Row Down</a></li>
                        <li><a href="#" class="delete-row" ng-click="deleteRow($index)">Delete Row</a></li>
                        <li><a href="#" class="make-header" ng-class="{disabled:row.disabled}" ng-disabled="row.disabled" ng-click="row.disabled || convertHeader($index)">Convert to Header</a></li>
                    </ul>
                </div>
            </td>
            <td ng-repeat="cell in row.contents" class="rowcell" ng-style="cell.style"
           colspan="{{cell.colspan}}" ng-show="{{cell.colshow}}"><span ng-style="cell.datacolor">{{cell.datavalue}}</span><input ng-show="{{cell.active}}" class="rowinput {{cell.class}}" type="text" value="{{cell.headervalue.data}}" ng-model="cell.headervalue.data" placeholder="{{cell.placeholder}}" aria-label="Readonly field" />
            </td>
        </tr>
    </tbody>
</table>
