/*Custom styles for data table qwidget*/

div.btn-group.selectmenu { 
    white-space: nowrap;              
}
div.btn-group.selectmenu .btn {  
    float: none;
    display: inline-block;
}
img.arrow-right-img {
    width:15px;
}
a.btn.btn-default.arrowbtn{
    box-shadow:none;
    background-color:#F2F3F4;
}
a.arrowbtn{
    border:0px;
    background-color:#F2F3F4;
    color:#b3b3b3;
}
a.arrowbtn:focus{
    border:0px;
    outline: none;
}
a.arrowbtn:hover{
    border:0px;
    background-color:#F2F3F4;
    color:#07D1EA;
}
a.arrowbtn:active{
    border:0px;
}
a.arrowbtn:visited{
    border:0px;
    font-size:14px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #999;
    vertical-align:baseline;
    padding:5px;
}
.datatableheader{
    border: 1px solid #999;
}
.datatableheader{
    background-color: #bfbfbf;
}
.toedit {
    opacity:0;
}
.header-row{
    text-align:center;
}
.img_alow{
    width:30px;
}
ul.drpmenu {
    top: -22%;
    left: 114%;
    min-width: 128px;
    border:1px solid #ccc;
    border-radius:0;
    box-shadow:none;
    background-color:#f1f2f4;
}
.drpmenu>li>a{
    padding:1px 20px;
}
.drpmenu>li>a:focus, .drpmenu>li>a:hover {
    color: #8B8C94;
    background-color: #f1f2f4; 
}
.categoryID-arrow{
    padding:0px;
}
li.uldrpmenu{
    margin:5px 0;
}
span.namestyle{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 114px; /*uncomment width to get ellipsis*/
    display: block;
    overflow: hidden
}
td.categoryID-arrow{
    background-color: #F2F3F4;
}
span.header-span{
    float:left;
    color:#fff;
}
.rowinput{
    border:0px;
    width:100%;
}
.header{
    background-color:#1072a4;
    color:#ffffff;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #ccc;
}
.table.table-bordered.table-responsive.col-md-12.table-condensed.cf{
    height:100%;
    margin-bottom:0px;
}

/*Data Table Settings Styles*/

.categorydrpdown{
    border-radius: 0;
    background-color: #CFCFD5 ;
    text-align: left;
    margin: 0px 0 0 !important;
    margin-top: 0px !important;
    border: 0px !important;
    width:100%;
    overflow:auto;
    color:#000;
    font-size:10px;
    min-width:83px;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:24px;
    padding-right:0px;
}
.form-inline .cbox, .form-inline .radio{
    display:block;
    padding:2px;
}
.disabled {
    color: gray !important;
}

