<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="dashboard for mission operations platform, Quindar">
    <meta name="author" content="Chavi Malhotra">

    <title>Quindar Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap-min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/sidebar.css" rel="stylesheet">
</head>

<body onload="startTime()">
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <form class="navbar-form">
                                <div class="form-group" style="display:inline;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="input-search" placeholder="Search">
                                        <span class="input-group-addon" id="group-search">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li>
                            <a href="#">Realtime Telemetry</a>
                        </li>
                        <li>
                            <a href="#">Sat Subsystems</a>
                        </li>
                        <li>
                            <a href="#">Sat Imagery</a>
                        </li>
                        <li>
                            <a href="#">Atmosphere Pressure</a>
                        </li>
                    </ul>      
        		</div>
                <!-- /#sidebar-wrapper -->
                <!-- Page Content -->
                <div id="page-content-wrapper" class="column col-xs-12 col-sm-9 col-lg-10">
                    <nav class="navbar navbar-default navbar-static-top no-margin">
                        <div class="container-fluid">
                            <div class="navbar-header header-wrapper">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#" id="menu-toggle"><img src="/media/logos/quindar_regular.svg" alt="Quindar"/></a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav status-bar">
                                    <li><a href="#" class="status-icon"><img src="/media/icons/status_icons-05.png" alt="Quindar"/></a></li>
                                    <li><a href="#" class="status-icon"><img src="/media/icons/status_icons-06.png" alt="Quindar"/></a></li>
                                    <li><a href="#" class="status-icon"><img src="/media/icons/status_icons-07.png" alt="Quindar"/></a></li>
                                    <li><a href="#" class="status-icon"><img src="/media/icons/status_icons-08.png" alt="Quindar"/></a></li>
                                    
                                </ul>
                                <ul class="nav navbar-nav time">
                                    <li class="clock" id="txt"></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right no-margin">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.google.name %></a>
                                        <ul class="dropdown-menu logout-bar">
                                            <li >
                                                <a href="/logout">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" id="add-widget"> 
                                            <span class="fa fa-bars" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Dashboard</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

                <!-- Right Sidebar -->
                <div id="sidebar-right">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">Configuration Menu</a>
                        </li>
                        <li>
                            <a href="#">Qwidget</a>
                        </li>
                        <li>
                            <a href="#">User Administration</a>
                        </li>
                        <li>
                            <a href="#">Server Administration</a>
                        </li>
                        <li>
                            <a href="#">Documentation</a>
                        </li>
                    </ul>      
                </div>
                <!-- End Right Sidebar -->
    </div>
    
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#add-widget").click(function(e) {
        e.preventDefault();
        $("#sidebar-right").toggleClass("active");
        $("#wrapper").toggleClass("right");
    });
    </script>

    <!-- UTC Clock -->
    <script>
    function startTime() {
        var today = new Date();
        var start = new Date(today.getUTCFullYear(), 0, 0);
        var diff = today - start;
        var h = today.getUTCHours();
        var m = today.getUTCMinutes();
        var s = today.getUTCSeconds();
        var days = Math.floor(diff/(1000*60*60*24));
        h = checkTime(h);
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        days + "." + h + ":" + m + ":" + s + " " + "UTC";
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>

</body>
</html>
