/*!
 * Custom CSS for dashboard page 
 */
body {
    overflow-x: hidden;
    background-color: #F2F3F4;
}
#QBlack {
    display:none;
}
.container {
    margin-left:0;
    margin-right:0;
}
#qwidgetMenu {
    list-style-type: none;
    padding-left:0px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#widgettops {
    list-style-type: none;
    padding-left:0px;
    border-top:1px solid #242833;
    border-bottom:1px solid #242833;
}
#widgetops ul {
    list-style-type: none;
}
#usermail{
    display:none;
}
span#layout-arrow {
    position: relative;
    top: 0px;
    right:0px;
}
span#qwidgets {
    position: relative;
    top: 2px;
    right: 8px;
}
span#user-admin,i#server-admin,i#docs {
    position: relative;
    top: 0px;
    right: 8px;
}
span#qwidgetPlus,i#g-track,i#t-table,i#s-table,i#d-table,i#l-plot,span#save-layout,span#load-layout,span#clear-layout {
    position: relative;
    top: 0px;
    right: 5px;
}
.navbar {
    border: 0 none;  
    padding-top: 7px;
    padding-bottom: 0px;
    border-bottom: 3px solid #CFCFD5;
    text-align: center; 
    height: 67px;
}
.navbar .navbar-nav {
    display:inline-block;
    float: none;
}
.navbar-default {
    background-color: white;
}
.navbar-form {
    margin-top: 0px;
}
img#main-img{
    height:50px;
}
a#QRegular.navbar-brand{
    padding:0px;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
/*  padding-left:5px;
    padding-right:5px;*/
    padding-left:15px;
}
.navbar-brand {
    padding: 5px 5px;
}
#add-widget {
    background-color: #07D1EA;
    color: white;
    margin-right:15px;
}
.status-icon {
    float: left;
    height: 50px;
    padding: 10px 10px !important;
    font-size: 18px;
}
.status-icon>img {
   height: 100%;
   width: auto;
   display: inline-block;
}
img#main-img:focus{
    outline:auto 0px;
}
img.search-icon:focus{
    outline:auto 0px;
}
.status-bar {
    padding-left:10px;
    padding-right:10px;
} 
.navbar-nav>li.clock {
/*   padding-top: 15px;
   padding-bottom: 15px;*/
    margin-top:5px;
    line-height:20px;
    font-size: 24px;
}
.time {
   padding-left: 10px;
   padding-right:10px;
   color: rgba(0, 0, 0, 0.3);
   font-size: 12px;
}

#icon_1{
   height:25px;
   margin-top:13px;
   margin-right:9px; 
}
#icon_2 {
    height:25px;
    margin-top:13px;
    margin-right:9px;
}
#icon_3{
    height:25px;
    margin-top:13px;
    margin-right:9px;
}
#icon_4{
    height:25px;
    margin-top:13px;
    margin-right:0px;
}
#txt.clock{
   top:10px;
   right:0px; /*-19px*/
   font-size:22px;
}
a#username.dropdown-toggle {
    font-size:18px;/*22px*/
    color:black;
    display:inline-block;
    background-color: white;
    margin-top: 0px;
    padding-bottom: 0px;
}
#user-name {
    display:none;
}
#configmenu, #configmenu:hover {
    font-size: 20px;
    color: white;
}
.logout-bar{
    min-width: 128px;
}
#user-name {
    display:none;
    margin:10px 35px;
    color:#07D1EA;
    font-size:24px;
}
#mini-logout{
    display:none;
}
#callsign{
    display: block;
    color: black;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
}
#line1{
    width:0px;
    height:10px;
    top:-75px;
    right:133px;
    position:absolute;
}
#line2{
    width:0px;
    height:10px;
    top:-75px;
    right:99px;
    position:absolute;
}
#line3{
    width:0px;
    height:10px;
    top:-75px;
    right:64px;
    position:absolute;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    margin-top: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
}
}
@media only screen and (max-width: 736px) {
  /* For mobile phones: */
    #QRegular {
        display:none;
    }
    #QBlack {
        padding-left:10px;
        display:inline-block;
    }
    img#main-img{
        height:33px;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 6px 6px;
    }
    a#addwidget, a#save-grid, a#load-grid, a#clear-grid, a#addGround{
        font-size:12px;
    }
    div.navbar-header {
        padding:0;
        margin:0;
        width:20px;
    }
    #user-name {
        display:block;
        margin:10px 35px;
        color:#07D1EA;
        font-size:18px;
    }
    #mini-logout{
        display:block;
    }
    .navbar {
        height:60px;
    }
    .navbar-brand>img {
        height:65%;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:0;
        padding-bottom:0;
    }
    .status-icon {
        height:40px;
        padding:0;
    }
    li.status-icon {
        padding:0;
        margin:0;
    }
    ul.nav.navbar-nav {
        padding:0;
        margin:0;
    }
    li#txt.clock {
        font-size: 14px;
        position:relative;
        top:0;
        left:0;
    }
    ul.nav.navbar-nav.navbar-right {
        position:fixed;
        top:0;
        right:0;
        display:inline;
    }
    a#username.dropdown-toggle {
        font-size:75%;
        color:black;
        display:none;
    }
    a#add-widget {
        width:100%;
        position:relative;
        top:0;
        right:12px;
        margin-top: 13px ;
        margin-bottom:10px;
    }
    #configmenu {
        font-size:14px;
        border-bottom: 1px solid #242833;
    }
    .rightsidenav a {
        font-size: 14px;
    }
    #icon_1 {
        position: absolute;
        top: -63px;
        right: 80px;
        height:17px;
    }

    #icon_2 {
        position: absolute;
        top: -63px;
        right: 53px;
        height:17px;
    }
    #icon_3 {
        position:absolute;
        top: -63px;
        right: 26px;
        height:17px;
    }
    #icon_4 {
        position: absolute;
        top: -63px;
        right: 10px;
        height:17px;
    }
    #line1{
        width:0px;
        height:10px;
        top:-127px;
        right:109px;
        position:absolute;
    }
    #line2{
        width:0px;
        height:10px;
        top:-127px;
        right:82px;
        position:absolute;
    }
    #line3{
        width:0px;
        height:10px;
        top:-127px;
        right:56px;
        position:absolute;
    } 
    li.open {
        width:75%;
    }
    li#cfgmenu {
        font-size:16px;   
    }
    li#txt.clock{
        position: absolute;
        top: -62px;
        right: -82px;
        font-size: 10px;
    }
    .container-fluid{
        width:100%;
        margin:0;
    }
    div.navbar-header{
        margin:0;
    }
    #callsign{
      display: none;
    }
}   

@media only screen and (min-width: 768px){
    .navbar-right {
        margin-right: 0px !important;
    }
}

::-webkit-scrollbar { 
    display: none; 
}
