/*!
 * Custom CSS for dashboard page 
 */
body {
    overflow-x: hidden;
    background-color: #F2F3F4;
    font-family: "Open Sans", Sans-serif; 
}

#QBlack {
    display:none;
}

.container {
    margin-left:0;
    margin-right:0;
}

span#layout-arrow {
    position: relative;
    top: 0px;
    right:0px;
}

span#qwidgets {
    position: relative;
    top: 2px;
    right: 8px;
}

span#user-admin,i#server-admin,i#docs {
    position: relative;
    top: 0px;
    right: 8px;
}

span#qwidgetPlus,i#g-track,i#t-table,i#s-table,i#d-table,i#l-plot,i#clock,i#d-log,span#save-layout,span#load-layout,span#clear-layout {
    position: relative;
    top: 0px;
    right: 5px;
}

.navbar {
    border: 0 none;
    border-bottom: 3px solid #CFCFD5;
    text-align: center; 
    height: 53px;
}

.navbar .navbar-nav {
    display:inline-block;
    float: none;
}

.navbar-default {
    background-color: white;
}

img#main-img {
    height:50px;
}

a#QRegular.navbar-brand {
    padding:0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding-left:15px;
}

.navbar-brand {
    padding: 5px 5px;
}

#add-widget {
    background-color: #07D1EA;
    color: white;
    margin-right:15px;
    height: 50px;
    margin-top: 0px;
}

.status-icon {
    float: left;
    height: 50px;
    padding: 10px 10px !important;
    font-size: 18px;
}

.status-icon>img {
   height: 100%;
   width: auto;
   display: inline-block;
}

img#main-img:focus {
    outline:auto 0px;
}

img.search-icon:focus {
    outline:auto 0px;
}

.status-bar {
    padding-left:10px;
    padding-right:10px;
} 

.navbar-nav>li.clock {
/*   padding-top: 15px;
   padding-bottom: 15px;*/
    margin-top:5px;
    line-height:20px;
    font-size: 24px;
}

.time {
   padding-left: 10px;
   padding-right:10px;
   color: rgba(0, 0, 0, 0.3);
   font-size: 12px;
}

#icon_1 {
   height:25px;
   margin-top:13px;
   margin-right:9px; 
}

#icon_2 {
    height:25px;
    margin-top:13px;
    margin-right:9px;
}

#icon_3 {
    height:25px;
    margin-top:13px;
    margin-right:9px;
}

#icon_4 {
    height:25px;
    margin-top:13px;
    margin-right:0px;
}

#txt.clock {
   top:10px;
   right:0px; /*-19px*/
   font-size:22px;
}

.bars {
    padding-top: 8px;
    padding-bottom: 8px;
}

#top-header {
    padding-right: 0px;
    padding-left: 0px;
}

a#username.dropdown-toggle {
    font-size:18px;/*22px*/
    color:black;
    display:inline-block;
    background-color: white;
    margin-top: 0px;
    padding-bottom: 0px;
}

.logout-bar {
    min-width: 128px;
}

#callsign {
    display: block;
    color: black;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
}

#line1 {
    width:0px;
    height:10px;
    top:-75px;
    right:133px;
    position:absolute;
}

#line2 {
    width:0px;
    height:10px;
    top:-75px;
    right:99px;
    position:absolute;
}

#line3 {
    width:0px;
    height:10px;
    top:-75px;
    right:64px;
    position:absolute;
}

ul.nav.navbar-nav.navbar-right {
    height: 50px;
}

#cfgmenu {
    height:50px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        margin-top: 5px;
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
}

@media only screen and (max-width: 736px) {
  /* For mobile phones: */
    #QRegular {
        display:none;
    }

    #QBlack {
        padding-left:10px;
        display:inline-block;
    }

    .container-fluid>.navbar-header {
        margin-left: 0px;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 6px 6px;
    }

    a#addwidget, a#save-grid, a#load-grid, a#clear-grid, a#addGround {
        font-size:12px;
    }

    .navbar-brand>img#main-img {
        height:100%;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:0;
        padding-bottom:0;
    }

    .status-icon {
        height:40px;
        padding:0;
    }

    li.status-icon {
        padding:0;
        margin:0;
    }

    ul.nav.navbar-nav {
        padding:0;
        margin:0;
    }

    li#txt.clock {
        font-size: 14px;
        position:relative;
        top:0;
        left:0;
    }

    ul.nav.navbar-nav.navbar-right {
        position:absolute;
        top:0;
        right:0;
        display:inline;
    }

    a#username.dropdown-toggle {
        display:none;
    }

    a#add-widget {
        width:100%;
        position:relative;
    }

    #icon_1 {
        position: absolute;
        top: -63px;
        right: 80px;
        height:17px;
    }

    #icon_2 {
        position: absolute;
        top: -63px;
        right: 53px;
        height:17px;
    }

    #icon_3 {
        position:absolute;
        top: -63px;
        right: 26px;
        height:17px;
    }

    #icon_4 {
        position: absolute;
        top: -63px;
        right: 10px;
        height:17px;
    }

    #line1 {
        width:0px;
        height:10px;
        top:-127px;
        right:109px;
        position:absolute;
    }

    #line2 {
        width:0px;
        height:10px;
        top:-127px;
        right:82px;
        position:absolute;
    }

    #line3 {
        width:0px;
        height:10px;
        top:-127px;
        right:56px;
        position:absolute;
    } 

    li.open {
        width:75%;
    }

    li#cfgmenu {
        font-size:16px;  
            margin-right: 10px; 
    }

    li#txt.clock{
        position: absolute;
        top: -62px;
        right: -82px;
        font-size: 10px;
    }

    #callsign {
        display: none;
    }

    .bars {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@media only screen and (min-width: 736px) and (max-width: 768px) {
    a#username.dropdown-toggle {
        display:none;
    }

    #callsign{
        display: none;
    }
}   

@media only screen and (min-width: 768px){
    .navbar-right {
        margin-right: 0px !important;
    }
}

::-webkit-scrollbar { 
    display: none; 
}
