  
/*Custom Grid stack css*/

.grid-stack {
  background: #ffffff;
}
.form-group{
  display:inline;
}
.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  height:4%;
  border:3px solid #808080;
  background-color: #d9edf7;
}  
#removespan {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 19px;
    color: #07D1EA;
    background-color: #000000;
    border-color: #000000;
}
}
button.savewidget{
    position:absolute;
  right:25px;
  top:0px;
  font-size:12px;
}
.btn-group-lg>.btn, .btn-lg{
      padding: 4px 16px;
}

.btn-primary {
  border:0;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  position: static;
}
#widgetops {
       /* display:none;*/
      list-style-type: none;
}
#usermail{
      display:none;
}

.panel-primary>.panel-heading {
      background-color: #000000;
    border-color: #000000;
  }

  .panel-primary {

    border-color: #ffffff;
  }



  div.container{
    margin:0 auto;  
    font-size:10px;
  }




/*Uncomment below media queries for the container to occupy entire screen and not just the middle of the screen*/

    @media (min-width: 1200px){
.container {
    width: 99%;
}
}

  @media (min-width: 2560px){
.container {
    width:99%;
}
}

