header {
  text-align: left;
}
header img {
  margin-top: 200px;
}
html, body {
  min-height: 100%;
}
body.planet-bg { 
  background: url(../media/Quindar_Login_Mockup_BG2.jpg); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  /*min-height: 100vh;*/
  box-sizing: border-box;
}

.login-page {
  /*width: 360px;*/
  /*padding: 8% 0 0;*/
  /*margin: auto;*/
  margin-top: 30px;
}
.form {
  position: relative;
  padding-left: left;

}
.form button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #07d1ea;
  width: 450px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #1072A4;
}

.form .message {
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #3d547a;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;

}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {

  text-align: center;
}
.container .info h1 {
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

footer {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 20px;
}
footer img {
  max-width: 100%;
}
@media (max-width: 800px) {
  margin-top: 40px;
}
body {
  background: #3d547a; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #111950, #3d547a);
  background: -moz-linear-gradient(right, #153C7C, #3d547a);
  background: -o-linear-gradient(right, #153C7C, #3d547a);
  background: linear-gradient(to left, #153C7C, #3d547a);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.gh-image {
  margin-left: 20px;
  margin-top: 7px;
}