

#myInput {
  /*  background-image: url('https://i47.tinypic.com/r02vbq.png');*/ /* Add a search icon to input */
   /* background-position: -8px -12px;*/ /* Position the search icon */
   /* background-repeat: no-repeat;*/ /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    background-color:black;
    color:white;
    border: 1px solid #ddd; /* Add a grey border */
    margin-top: 2px;
    margin-bottom: 2px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th{
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#header th{
     text-align: center; /* Center-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable td{
   /* padding:5px;*/
    text-align: center;
    line-height:1.5;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

th#nameid{
    /*height:5%;*/
    text-align:left;
    font-size:18px;
}

th#catVal{
/*    height:5%;*/
      text-align:left;
    font-size:18px;
}

/*.idrows {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}*/
