/*!
 * Custom CSS for widgets 
 */
.ground-widget{
  margin-bottom:0px;
}
.graticule {
  fill: none;
  stroke: #8B8C94;
  stroke-opacity: .5;
  stroke-width: .5px;
}
.land {
  fill: #CFCFD5;
  stroke: #020613;
  stroke-width: .1px;
}
.night {
  stroke: #111950;
  fill: #111950;
  opacity: .3;
}
.route {
  fill: none;
  stroke: #FF6D00;  
}
.craft {
  fill: #07D1EA;
  stroke: #020613;	
}
.satlos {
  stroke: #71ECF9;
  fill: #B8F6FC;
  opacity: .3;
}
.gslos {
  stroke: #AEEA00;
  fill: #76FF03;
  opacity: .3;
}
.plotbutton {
  font-family: "Open Sans", Sans-serif;	
  background-color: #07D1EA;
  color: #020613;
  position:absolute;
  padding:5px;
  top:5px;
}
.homebutton {
  font-family: "Open Sans", Sans-serif;	
  background-color: #07D1EA;
  color: #020613;
  position:absolute;
  padding:5px;
  top:5px;
  left:0px;
  width: 55px;
}
.homebutton:hover {
    background-color: #0AACCF;
}
.timebtn {
  font-family: "Open Sans", Sans-serif;	
  background-color: #07D1EA;
  color: #020613;
  position:absolute;
  top:5px;
  padding:5px;
  left: 60px;
  width: 125px;
}
.timebtn:hover {
    background-color: #0AACCF;
}
.satbtn {
  display: inline-block;
  font-family: "Open Sans", Sans-serif;	
  background-color: #07D1EA;
  color: #020613;
  cursor: pointer;
  position: absolute;
  padding:5px;
  top: 5px;
  left: 190px;
  width: 65px;
}
.satbtn:hover {
  background-color: #0AACCF;
}
.clearbtn {
  display: inline-block;
  font-family: "Open Sans", Sans-serif;	
  background-color: #07D1EA;
  color: #020613;
  cursor: pointer;
  position: absolute;
  padding:5px;
  top: 5px;
  left: 190px;
}
.clearbtn:hover {
  background-color: #0AACCF;
}
.trash{
  position:absolute;
  right:30px;
  top:5px;
  font-size:19px;
  color: #07D1EA;
  background-color: #000000;
    border-color: #000000;
    border: 0px;
    padding: 1px 4px;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  padding-top: 0%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.timezones {
  fill: #111950;
  stroke: #CFCFD5;
  stroke-width: .05px;  
}
.timezones :hover {
  fill: #FFD600;
}
.modal-overflow{
  overflow: auto;
}