/*!
 * Custom CSS for widgets 
 */
.ground-widget{
  margin-bottom:0px;
}
.graticule {
  fill: none;
  stroke: #8B8C94;
  stroke-opacity: .5;
  stroke-width: .5px;
}
.land {
  fill: #CFCFD5;
  stroke: #020613;
}
.route {
  fill: none;
  stroke: #FF6D00;  
}
.craft {
  fill: #07D1EA;
  stroke: #020613;	
}
.plotbutton {
  font-family: "Open Sans", Sans-serif;	
  background-color: #CFCFD5;
  color: #020613;
  position:absolute;
  top:0px;
}
.homebutton {
  font-family: "Open Sans", Sans-serif;	
  background-color: #CFCFD5;
  color: #020613;
  position:absolute;
  top:0px;
  left:50px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
	padding-top: 0%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}