/*!
 * Custom CSS for widgets 
 */
.ground-widget{
  margin-bottom:0px;
}
.graticule {
  fill: none;
  stroke: #8B8C94;
  stroke-opacity: .5;
  stroke-width: .5px;
}
.land {
  fill: #CFCFD5;
  stroke: #020613;
  stroke-width: .1px;
}
.night {
  stroke: #111950;
  fill: #111950;
  opacity: .3;
}
.route {
  fill: none;
  stroke: #FF6D00;  
}
.craft {
  fill: #07D1EA;
  stroke: #020613;	
}
.plotbutton {
  font-family: "Open Sans", Sans-serif;	
  background-color: #CFCFD5;
  color: #020613;
  position:absolute;
  top:0px;
}
.homebutton {
  font-family: "Open Sans", Sans-serif;	
  background-color: #CFCFD5;
  color: #020613;
  position:absolute;
  top:0px;
  left:40px;
}
.timebtn {
  font-family: "Open Sans", Sans-serif;	
  background-color: #CFCFD5;
  color: #020613;
  position:absolute;
  top:0px;
  left:90px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%;
	padding-top: 0%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
	height: 100%;
    top: 0;
    left: 0;
}
.timezones {
  fill: #111950;
  stroke: #CFCFD5;
  stroke-width: .05px;  
}

.timezones :hover {
  fill: #FFD600;
}
