/*

Settings Menu outer Div styles
Save and Load Menu Styles
Delete Menu Styles

*/

.savestyles{
  width: 80%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

label{
  font-weight: 200;
}

@media only screen and (min-width: 768px){
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}

.row{
  margin-left:0px;
  margin-right:0px;
}

.caretstyles{
  top: 12px;
  right: 12px;
  position: absolute;
}

.load-widget-styles{
  width:100%;
  overflow:hidden;
  background-color: #fff;
  color:#000;
  border-radius:0px;
}

.save-widget-styles{
  overflow:hidden;
  background-color: #fff;
  color:#000;
  border-radius:0px;
}

.sbtns{
  border-radius:0px;
  overflow:hidden;
  background-color:#07D1EA;
  color:#fff;
}

div.settingsMenu{
  background-color:#242833;
  height:100%;
  margin:0px;
  color:#fff;
  position: relative ;
}

div.deldatatable{
  background-color:#242833;
  height:100%;
  margin:0px;
  color:#fff;
  position: relative ;
}
div.saveloaddatatable{
  background-color:#242833;
  height:100%;
  margin:0px;
  color:#fff;
  position:relative;
}