<div class="gtmain">
    <div class="row">
    <span class="button-checkbox gtspans">
        <button type="button" class="btn gtbtns">Coverage</button>
        <input type="checkbox" style="float:right;margin:10px;height:20px;width:20px" ng-model="checkboxModel.value1" ng-click="showCoverage(checkboxModel.value1)"/>
    </span>
<!--     <span class="button-checkbox gtspans">
        <button type="button" class="btn gtbtns">Links</button>
        <input type="checkbox" style="float:right;margin:10px;padding:10px;height:20px;width:20px" checked />
    </span> -->
    </div>
	<div class="svg-container divgt" id="divgt"></div>
</div>