<div class="settingsMenu maingt">
    <div class="settingstop">
        <div class="row settingsrightcol" ng-show="firstScreen" style="display: table">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-10" ng-show="firstScreen" style="display: table-cell; float:none">
                <div class="row">
                    <label for="SelectSpaceCraft">Select Spacecraft:</label>
                </div>
                <div class="row">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle load-widget-styles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="createVehicles()">
                            <span class="pull-left">Vehicles</span> <span class="caret caretstyles"></span>
                        </button>
                        <ul class="dropdown-menu categorydrpdown" style="padding-top:0px;padding-bottom:0px;font-size:12px">
                            <li class="checkbox cbox" ng-repeat="vehicle in settings.vehicles" style="margin-top:5px;margin-bottom:5px">
                                <input style="margin-top: 0px" type="checkbox" value="" name="id" ng-model="checkedValues[vehicle.id].status" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false">{{vehicle.label}}
                                <button ng-show="checkedValues[vehicle.id].status" class="fa fa-cog gtdropdownicons" aria-hidden="true" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false" style="background:transparent;border:none"></button>
                            </li>
                        </ul>
                    </div>
                    <span ng-hide="vehicleSelected"> Required </span> 
                </div>
                <div class="row" id="outerScreenToaster"></div>
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsrightcol"  ng-show="secondScreen" style="display: table">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Position">Select Position for: <b>{{currentScreenVehicle}}</b></label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div class="btn-group" style="width:100%" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-default" ng-click="getTelemetrydata('position', currentVehicleId)" style="width:75%;border-radius:0;color:grey" >{{readValues('position')}}</button>
                    <button type="button" class="btn btn-default" style="width:25%;border-radius:0;padding-left:0px;padding-right:0px" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0" aria-labelledby="split-button">
                        <li role="menuitem"><a href="#" ng-click="openPositionList(currentVehicleId)">Show Parameters</a></li>
                    </ul>
                </div>
                <span ng-hide="readValues('position') != 'Click for data'"> Required </span>
                <div class="row" style="margin-top:5%">
                    <label for="SatelliteOrbit">Orbit</label>
                   <div class="input-group" style="margin-top:0px;margin-bottom:0px" ng-cloak>
                        <md-switch class="md-primary"  md-theme="blueTheme" aria-label="Switch No Ink" ng-model="orbitstatus[currentVehicleId]" style="margin-top:0px;margin-bottom:0px">
                        </md-switch>
                    </div>
                </div>
                <div class="row" id="innerScreenToaster">
                </div>
            </div>
            <div class="col-sm-2" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Velocity">Select Velocity for: <b>{{currentScreenVehicle}}</b></label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div class="btn-group" style="width:100%" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-default" ng-click="getTelemetrydata('velocity', currentVehicleId)" style="width:75%;border-radius:0;color:grey" >{{readValues('velocity')}}</button>
                    <button type="button" class="btn btn-default" style="width:25%;border-radius:0;padding-left:0px;padding-right:0px" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0" aria-labelledby="split-button">
                        <li role="menuitem"><a href="#" ng-click="openVelocityList(currentVehicleId)">Show Parameters</a></li>
                    </ul>
                </div>
                    <span ng-hide="readValues('velocity') != 'Click for data'"> Required </span>
                <div class="row" style="margin-top:5%">
                    <label for="SatelliteIcon">Icon</label>
                    <div class="input-group" style="margin-top:0px;margin-bottom:0px" ng-cloak>
                        <md-switch class="md-primary"  md-theme="blueTheme" aria-label="Switch No Ink" ng-model="iconstatus[currentVehicleId]" style="margin-top:0px;margin-bottom:0px">
                        </md-switch>
                    </div>
                </div>
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsbottom" style="display: table">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <hr>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10" ng-show="firstScreen">
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveWidget(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeWidget(widget)">CLOSE</button>
                </div>
                <div class="col-sm-10" ng-show="secondScreen">
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveParameters(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeParameters(widget)">CLOSE</button>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>  
    </div>      
</div>

<!-- For Mobile Screens -->
<div class="container mbl-gt">
    <form ng-show="firstScreen">
        <label for="SelectSpaceCraft" class="mbl-label">Select Spacecraft:</label>
        <div class="dropdown mbl-label mbl-input-grp mbl-inputitems">
            <button type="button" class="btn dropdown-toggle load-widget-styles mbl-inneritems mbl-inneritems mbl-input-grp mbl-inputitems mbl-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="createVehicles()">
                <span class="pull-left drpdwn-name">Vehicles</span> <span class="caret  pull-right drpdwn-caret"></span>
            </button>
            <ul class="dropdown-menu categorydrpdown">
                <li class="checkbox cbox drpdown-list-item" ng-repeat="vehicle in settings.vehicles">
                    <input style="margin-top: 0px" type="checkbox" value="" name="id" ng-model="checkedValues[vehicle.id].status" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false">{{vehicle.label}}
                    <button ng-show="checkedValues[vehicle.id].status" class="fa fa-cog gtdropdownicons" aria-hidden="true" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false"></button>
                </li>
            </ul>
            <span ng-hide="vehicleSelected"> Required </span> 
        </div>
        <div id="outerScreenToasterMbl" style="padding:0;display:flex"></div>
        <hr class="hr-double-col1">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveWidget(widget)">SAVE</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeWidget(widget)">CLOSE</button>    
    </form>
    <form ng-show="secondScreen">
       <label for="SelectSpaceCraft" class="mbl-label">Select Parameters for: {{currentScreenVehicle}}</label>
        <div class="row">
            <label for="SelectPosition" class="mbl-label">Select Position:</label>
        </div>
        <div class="btn-group mbl-input-grp" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-default" ng-click="getTelemetrydata('position', currentVehicleId)" style="width:88%;border-radius:0;color:grey;min-width:88%;padding-top:3px;padding-bottom:3px;font-size:10px;text-align:left" >{{readValues('position')}}</button>
            <button type="button" class="btn btn-default" style="width:12%;border-radius:0;min-width:12%;padding-top:3px;padding-bottom:3px;font-size:10px" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                <!--<li role="menuitem"><a href="#" ng-click="getValue('position',currentVehicleId)">Apply</a></li>-->
                <li role="menuitem"><a href="#" ng-click="openPositionList(currentVehicleId)">Show Parameters</a></li>
            </ul>
        </div>
        <span ng-hide="readValues('position') != 'Click for data'" class="req-label"> Required </span>
        <div class="row">
            <label for="SelectVelocity" class="mbl-label">Select Velocity</label>
        </div>
        <div class="btn-group mbl-input-grp" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-default" ng-click="getTelemetrydata('velocity', currentVehicleId)" style="width:88%;border-radius:0;color:grey;min-width:88%;padding-top:3px;padding-bottom:3px;font-size:10px;text-align:left" >{{readValues('velocity')}}</button>
            <button type="button" class="btn btn-default" style="width:12%;border-radius:0;min-width:12%;padding-top:3px;padding-bottom:3px;font-size:10px" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                <!--<li role="menuitem"><a href="#" ng-click="getValue('velocity',currentVehicleId)">Apply</a></li>-->
                <li role="menuitem"><a href="#" ng-click="openVelocityList(currentVehicleId)">Show Parameters</a></li>
            </ul>
        </div>
        <span ng-hide="readValues('velocity') != 'Click for data'" class="req-label"> Required </span>
        <div id="innerScreenToasterMbl" style="padding:0;display:flex"></div>
        <hr class="hr-double-col1-2-gt">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveParameters(widget)">SAVE</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeParameters(widget)">CLOSE</button>     
    </form>
</div>

<!-- For Tablet Screens -->
<div class="saveloaddatatable tablet-gt">
    <div class="settingstablettop" ng-show="firstScreen">
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px;">
                    <label for="SelectSpaceCraft" class="mbl-label">Select Spacecraft:</label>
                </div>
                <div class="dropdown mbl-label mbl-input-grp mbl-inputitems">
                    <button type="button" class="btn dropdown-toggle load-widget-styles mbl-inneritems mbl-inneritems mbl-input-grp mbl-inputitems mbl-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="createVehicles()">
                        <span class="pull-left drpdwn-name">Vehicles</span> <span class="caret  pull-right drpdwn-caret"></span>
                    </button>
                    <ul class="dropdown-menu categorydrpdown" style="padding-top:0px;padding-bottom:0px;">
                        <li class="checkbox cbox drpdown-list-item" ng-repeat="vehicle in settings.vehicles">
                            <input style="margin-top: 0px" type="checkbox" value="" name="id" ng-model="checkedValues[vehicle.id].status" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false">{{vehicle.label}}
                            <button ng-show="checkedValues[vehicle.id].status" class="fa fa-cog gtdropdownicons" aria-hidden="true" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false"></button>
                        </li>
                    </ul>
                </div>
                <span ng-hide="vehicleSelected" class="req-label"> Required </span>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div> 
        </div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row"><div id="outerScreenToasterTablet"></div></div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveWidget(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeWidget(widget)">CLOSE</button>    
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div>  
    <div class="settingstablettop" ng-show="secondScreen">
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px">
                    <label for="SelectSpaceCraft" class="mbl-label">Select Parameters for: {{currentScreenVehicle}}</label>
                </div>
                <div class="row" style="height:19px;">
                    <label for="SelectPosition" class="mbl-label">Select Position</label>
                </div>
                <div class="btn-group mbl-input-grp" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-default" ng-click="getTelemetrydata('position', currentVehicleId)" style="width:75%;border-radius:0;color:grey;padding-top:0px;padding-bottom:0px;font-size:9px;text-align:left" >{{readValues('position')}}</button>
                    <button type="button" class="btn btn-default" style="width:25%;border-radius:0;padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;font-size:9px" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                    <!--<li role="menuitem"><a href="#" ng-click="getValue('position',currentVehicleId)">Apply</a></li>-->
                    <li role="menuitem"><a href="#" ng-click="openPositionList(currentVehicleId)">Show Parameters</a></li>
                </ul>
                </div>
                <span ng-hide="readValues('position') != 'Click for data'" class="pull-right req-label"> Required </span>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div> 
        </div>
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:16px;margin-bottom:0px">
                    <label for="SelectVelocity" class="mbl-label">Select Velocity</label>
                </div>
                <div class="btn-group mbl-input-grp" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-default" ng-click="getTelemetrydata('velocity', currentVehicleId)" style="width:75%;border-radius:0;color:grey;padding-top:0px;padding-bottom:0px;font-size:9px;text-align:left" >{{readValues('velocity')}}</button>
                    <button type="button" class="btn btn-default" style="width:25%;border-radius:0;padding-top:0px;padding-bottom:0px;font-size:9px;padding-left:0px;padding-right:0px" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                        <!--<li role="menuitem"><a href="#" ng-click="getValue('velocity',currentVehicleId)">Apply</a></li>-->
                        <li role="menuitem"><a href="#" ng-click="openVelocityList(currentVehicleId)">Show Parameters</a></li>
                    </ul>
                </div>
                 <span ng-hide="readValues('velocity') != 'Click for data'" class="pull-right req-label"> Required </span>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div>
        </div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row"><div id="innerScreenToasterTablet" style="padding:0;display:flex"></div></div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveParameters(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeParameters(widget)">CLOSE</button> 
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div>            
</div>


