<div class="settingsMenu">
    <div class="settingstop">
        <div class="row settingsrightcol" style="display: table">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-10" style="display: table-cell; float:none">
                <div class="row">
                    <label for="SelectSpaceCraft">Select Spacecraft:</label>
                </div>
            <div class="row">
                <table class="table table-bordered table-responsive col-md-10 table-condensed cf">
                    <thead id="telehead" class="linetableheader">
                        <tr>
                        <th id="id" style="text-align:left;width:6%;font-size:16px" class="id">#</th>
                        <th id="id" style="text-align:left;width:32%;font-size:16px" class="id">Name</th>
                        <th id="name" style="text-align:left;width:10%;font-size:16px" class="name">Enabled</th>
                        <th id="color" style="text-align:left;width:10%;font-size:16px" class="name">View Orbit</th>
                        <th id="color" style="text-align:left;width:10%;font-size:16px" class="name">View Icon</th>
                        <th id="color" style="text-align:left;width:32%;font-size:16px" class="name">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in gttable.rows.data">
                            <td ng-repeat="cell in row.contents" class="rowcell" style="{{cell.style}}" colspan="{{cell.colspan}}" ng-show="true">{{cell.value}}<input ng-show="{{cell.active}}" class="rowinput gtcbox" type="checkbox" style="{{cell.cbstyle}}" ng-model="row.status[$index]"/>
                            </td>
                        </tr>
                    </tbody>
                </table>   
            </div>
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsbottom" style="display: table">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <hr>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveWidget(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeWidget(widget)">CLOSE</button>
                </div>
                   <div class="col-sm-1"></div>
            </div>
        </div>  
    </div>      
</div>

