<div class="settingsMenu maingt">
    <div class="settingstop">
        <!-- First Screen-->
        <div class="row settingsrightcol" ng-show="firstScreen" style="display: table">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-10" ng-show="firstScreen" style="display: table-cell; float:none">
                <div class="row">
                    <label for="SelectSpaceCraft">Select Spacecraft:</label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div class="row">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle load-widget-styles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="createVehicles()">
                            <span class="pull-left">Vehicles</span> <span class="caret caretstyles"></span>
                        </button>
                        <ul class="dropdown-menu categorydrpdown" style="padding-top:0px;padding-bottom:0px;font-size:12px">
                            <li class="checkbox cbox" ng-repeat="vehicle in settings.vehicles" style="margin-top:5px;margin-bottom:5px">
                                <input style="margin-top: 0px" type="checkbox" value="" name="id" ng-model="checkedValues[vehicle.id].status" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false">{{vehicle.label}}
                                <button ng-show="checkedValues[vehicle.id].status" class="fa fa-cog gtdropdownicons" aria-hidden="true" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false" style="background:transparent;border:none"></button>
                            </li>
                        </ul>
                    </div>
                    <span ng-show="vehicleMsg.length > 0 && vehicleSelected === true" style="font-size:12px;color:#dd2c00"> {{vehicleMsg}} </span> 
                </div>
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <!-- Second Screen-->
        <form name="groundTrackForm" style="display:inline">
            <div class="row settingsrightcol"  ng-show="secondScreen" style="display: table; height:23.33%;">
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
                <div class="col-sm-4" style="display: table-cell; float:none">
                    <div class="row">
                        <label for="Position">Select Position for: <b>{{currentScreenVehicle}}</b></label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px" title="Select position coordinates(x,y,z)"></span>
                    </div>
                    <div class="row settingsspace" style="display: table"></div>
                    <div class="btn-group" style="width:100%" uib-dropdown>
                        <input id="split-button" name="positionparameters" type="text" class="btn btn-default inputBoxStyles" ng-click="getTelemetrydata('position', currentVehicleId)" ng-style="positionInputStyles" value="{{readValues('position')}}" placeholder="Click for data" readonly required/>
                        <button type="button" class="btn btn-default buttonDrpDownStyles" ng-style="positionBtnStyles" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0" aria-labelledby="split-button">
                            <li role="menuitem"><a href="#" ng-click="openPositionList(currentVehicleId)">Show Parameters</a></li>
                        </ul>
                    </div>
                    <span ng-show="positionparametersErrMsg.length > 0" style="font-size:12px;color:#dd2c00"> {{ positionparametersErrMsg }} </span>
                </div>
                <div class="col-sm-2" style="display: table-cell; float:none"></div>
                <div class="col-sm-4" style="display: table-cell; float:none">
                    <div class="row">
                        <label for="Velocity">Select Velocity for: <b>{{currentScreenVehicle}}</b></label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px" title="Select velocity coordinates(x,y,z)"></span>
                    </div>
                    <div class="row settingsspace" style="display: table"></div>
                    <div class="btn-group" style="width:100%" uib-dropdown>
                        <input id="split-button" name="velocityparameters" type="text" class="btn btn-default inputBoxStyles" ng-click="getTelemetrydata('velocity', currentVehicleId)" ng-style="velocityInputStyles" value="{{readValues('velocity')}}" placeholder="Click for data" readonly required/>
                        <button type="button" class="btn btn-default buttonDrpDownStyles" ng-style="velocityBtnStyles" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0" aria-labelledby="split-button">
                            <li role="menuitem"><a href="#" ng-click="openVelocityList(currentVehicleId)">Show Parameters</a></li>
                        </ul>
                    </div>
                    <span ng-show="velocityparametersErrMsg.length > 0" style="font-size:12px;color:#dd2c00"> {{ velocityparametersErrMsg }} </span>
                </div>
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
            </div>
            <div class="row settingsrightcol" ng-show="secondScreen" style="display: table; height:13.33%;"></div>
            <div class="row settingsrightcol" ng-show="secondScreen" style="display: table; height:23.33%;">
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
                <div class="col-sm-4" style="display: table-cell; float:none">               
                    <label for="SatelliteOrbit">Orbit</label>
                    <div class="input-group" style="margin-top:0px;margin-bottom:0px" ng-cloak>
                        <md-switch class="md-primary"  md-theme="blueTheme" aria-label="Switch No Ink" ng-model="orbitstatus[currentVehicleId]" style="margin-top:0px;margin-bottom:0px">
                        </md-switch>
                    </div>                
                </div>
                <div class="col-sm-2" style="display: table-cell; float:none"></div>
                <div class="col-sm-4" style="display: table-cell; float:none">
                    <label for="SatelliteIcon">Icon</label>
                    <div class="input-group" style="margin-top:0px;margin-bottom:0px" ng-cloak>
                        <md-switch class="md-primary"  md-theme="blueTheme" aria-label="Switch No Ink" ng-model="iconstatus[currentVehicleId]" style="margin-top:0px;margin-bottom:0px">
                        </md-switch>
                    </div>
                </div>
                <div class="col-sm-1" style="display: table-cell; float:none"></div>
            </div>
            <div class="row settingsrightcol" ng-show="firstScreen" style="display: table; height:3.33%;"></div>
            <div class="row settingsrightcol" ng-show="secondScreen" style="display: table; height:13.33%;"></div>
            <div class="row settingsbottom" style="display: table">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <hr>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" ng-show="firstScreen">
                        <button type="button" class="btn btn-primary col-sm-2 sbtns" ng-click="saveWidget(widget)">SAVE</button>
                        <button type="button" class="btn btn-primary col-sm-2 sbtns" ng-click="closeWidget(widget)">CLOSE</button>
                    </div>
                    <div class="col-sm-10" ng-show="secondScreen">
                        <button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveParameters(widget)" ng-disabled="stringPositionData.length === 0 && stringVelocityData.length === 0">SAVE</button>
                        <button type="button" class="btn btn-primary col-sm-2 sbtns" ng-click="closeParameters(widget)">CLOSE</button>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div> 
        </form> 
    </div>      
</div>

<!-- For Mobile Screens -->
<div class="container mbl-gt">
    <form ng-show="firstScreen">
        <label for="SelectSpaceCraft" class="mbl-label">Select Spacecraft:</label>
        <div class="dropdown mbl-label mbl-input-grp mbl-inputitems">
            <button type="button" class="btn dropdown-toggle load-widget-styles mbl-inneritems mbl-inneritems mbl-input-grp mbl-inputitems mbl-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="createVehicles()">
                <span class="pull-left drpdwn-name">Vehicles</span> <span class="caret  pull-right drpdwn-caret"></span>
            </button>
            <ul class="dropdown-menu categorydrpdown">
                <li class="checkbox cbox drpdown-list-item" ng-repeat="vehicle in settings.vehicles">
                    <input style="margin-top: 0px" type="checkbox" value="" name="id" ng-model="checkedValues[vehicle.id].status" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false">{{vehicle.label}}
                    <button ng-show="checkedValues[vehicle.id].status" class="fa fa-cog gtdropdownicons" aria-hidden="true" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false"></button>
                </li>
            </ul>
        <span ng-show="vehicleMsg.length > 0 && vehicleSelected === true" style="font-size:8px;color:#dd2c00" class="req-label"> {{vehicleMsg}} </span> 
        </div>
        <hr class="hr-double-col1">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveWidget(widget)">SAVE</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeWidget(widget)">CLOSE</button>    
    </form>
    <form ng-show="secondScreen" name="groundTrackForm">
        <label for="SelectSpaceCraft" class="mbl-label">Select Parameters for: {{currentScreenVehicle}}</label>
        <div class="row">
            <label for="SelectPosition" class="mbl-label">Select Position:</label>
            <span class="fa fa-info-circle" aria-hidden="true" style="font-size:10px" title="Select position coordinates(x,y,z)"></span>
        </div>
        <div class="btn-group mbl-input-grp" uib-dropdown>
            <input id="split-button" type="text" class="btn btn-default inputBoxStyles" ng-click="getTelemetrydata('position', currentVehicleId)" name="positionparameters" ng-style="positionInputStyles" value="{{readValues('position')}}" placeholder="Click for data" readonly required/>
            <button type="button" class="btn btn-default buttonDrpDownStyles" ng-style="positionBtnStyles" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                <li role="menuitem"><a href="#" ng-click="openPositionList(currentVehicleId)">Show Parameters</a></li>
            </ul>
        </div>
        <span ng-show="positionparametersErrMsg.length > 0" style="font-size:8px;color:#dd2c00" class="req-label"> {{ positionparametersErrMsg }} </span>
        <div class="row">
            <label for="SelectVelocity" class="mbl-label">Select Velocity</label>
             <span class="fa fa-info-circle" aria-hidden="true" style="font-size:10px" title="Select velocity coordinates(x,y,z)"></span>
        </div>
        <div class="btn-group mbl-input-grp" uib-dropdown>
            <input id="split-button" type="text" class="btn btn-default inputBoxStyles" ng-click="getTelemetrydata('velocity', currentVehicleId)" name="velocityparameters" ng-style="velocityInputStyles" value="{{readValues('velocity')}}" placeholder="Click for data" readonly required/>
            <button type="button" class="btn btn-default buttonDrpDownStyles" ng-style="velocityBtnStyles" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                <li role="menuitem"><a href="#" ng-click="openVelocityList(currentVehicleId)">Show Parameters</a></li>
            </ul>
        </div>
        <span ng-show="velocityparametersErrMsg.length > 0" style="font-size:8px;color:#dd2c00" class="req-label"> {{ velocityparametersErrMsg }} </span>
        <hr class="hr-double-col1-2-gt">
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveParameters(widget)" ng-disabled="stringPositionData.length === 0 && stringVelocityData.length === 0">SAVE</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeParameters(widget)">CLOSE</button>     
    </form>
</div>

<!-- For Tablet Screens -->
<div class="saveloaddatatable tablet-gt">
    <div class="settingstablettop" ng-show="firstScreen">
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px;">
                    <label for="SelectSpaceCraft" class="mbl-label">Select Spacecraft:</label>
                </div>
                <div class="dropdown mbl-label mbl-input-grp mbl-inputitems">
                    <button type="button" class="btn dropdown-toggle load-widget-styles mbl-inneritems mbl-inneritems mbl-input-grp mbl-inputitems mbl-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="createVehicles()">
                        <span class="pull-left drpdwn-name">Vehicles</span> <span class="caret  pull-right drpdwn-caret"></span>
                    </button>
                    <ul class="dropdown-menu categorydrpdown" style="padding-top:0px;padding-bottom:0px;">
                        <li class="checkbox cbox drpdown-list-item" ng-repeat="vehicle in settings.vehicles">
                            <input style="margin-top: 0px" type="checkbox" value="" name="id" ng-model="checkedValues[vehicle.id].status" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false">{{vehicle.label}}
                            <button ng-show="checkedValues[vehicle.id].status" class="fa fa-cog gtdropdownicons" aria-hidden="true" ng-click="alertUser($event,vehicle.label,vehicle.id,checkedValues[vehicle.id].status)" data-backdrop="static" data-keyboard="false"></button>
                        </li>
                    </ul>
                </div>
                <span ng-show="vehicleMsg.length > 0 && vehicleSelected === true" style="font-size:8px;color:#dd2c00" class="req-label"> {{vehicleMsg}} </span> 
            </div>
            <div class="col-sm-1 tablecellstyle1"></div> 
        </div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveWidget(widget)">SAVE</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeWidget(widget)">CLOSE</button>    
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div> 
    <form name="groundTrackForm"> 
        <div class="settingstablettop" ng-show="secondScreen">
            <div class="row settingstablet-col1-3el tablestyle">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <div class="row" style="height:19px">
                        <label for="SelectSpaceCraft" class="mbl-label">Select Parameters for: {{currentScreenVehicle}}</label>
                    </div>
                    <div class="row" style="height:19px;">
                        <label for="SelectPosition" class="mbl-label">Select Position</label>
                        <span class="fa fa-info-circle" aria-hidden="true" style="font-size:10px" title="Select position coordinates(x,y,z)"></span>
                    </div>
                    <div class="btn-group mbl-input-grp" uib-dropdown>
                        <input id="split-button" name="positionparameters" type="text" class="btn btn-default inputBoxStyles" ng-click="getTelemetrydata('position', currentVehicleId)" ng-style="positionInputStyles" placeholder="Click for data" value="{{readValues('position')}}" readonly required/>
                        <button type="button" class="btn btn-default buttonDrpDownStyles" ng-style="positionBtnStyles" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                            <li role="menuitem"><a href="#" ng-click="openPositionList(currentVehicleId)">Show Parameters</a></li>
                        </ul>
                    </div>
                    <span ng-show="positionparametersErrMsg.length > 0" style="font-size:8px;color:#dd2c00" class="req-label"> {{ positionparametersErrMsg }} </span>
                </div>
                <div class="col-sm-1 tablecellstyle1"></div> 
            </div>
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:16px;margin-bottom:0px">
                    <label for="SelectVelocity" class="mbl-label">Select Velocity</label>
                    <span class="fa fa-info-circle" aria-hidden="true" style="font-size:10px" title="Select velocity coordinates(x,y,z)"></span>
                </div>
                <div class="btn-group mbl-input-grp" uib-dropdown>
                    <input id="split-button" name="velocityparameters" type="text" class="btn btn-default inputBoxStyles" ng-click="getTelemetrydata('velocity', currentVehicleId)" ng-style="velocityInputStyles" placeholder="Click for data" value="{{readValues('velocity')}}" readonly required/>
                    <button type="button" class="btn btn-default buttonDrpDownStyles" ng-style="velocityBtnStyles" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width:100%;border-radius:0;font-size:9px" aria-labelledby="split-button">
                        <li role="menuitem"><a href="#" ng-click="openVelocityList(currentVehicleId)">Show Parameters</a></li>
                    </ul>
                </div>
                <span ng-show="velocityparametersErrMsg.length > 0" style="font-size:8px;color:#dd2c00" class="req-label"> {{ velocityparametersErrMsg }} </span>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div>
        </div>
        <div class="row settingstablet-col1-3el tablestyle"></div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveParameters(widget)" ng-disabled="stringPositionData.length === 0 && stringVelocityData.length === 0">SAVE</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeParameters(widget)">CLOSE</button> 
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div>
    </form>            
</div>


