/*Widget box styles*/

.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.box-header {
    background-color: #000;
    padding: 0px 10px 0px 10px; /*0 30px 0 30px*/
    cursor: move;
    position: relative;
   
}
.box-header h4 {
    margin-top: 10px;
    display: inline-block;
    text-transform: capitalize;
    color: white;
/*    font-size:1.0em;*/
    font-size:14px;
}

.box-content {
    /*padding:10px;*/
    height:calc(100% - 35px);
    /*overflow:hidden;*/ /*This makes the box content hidden all the time*/

    /*Adds scroll bar to the right and bottom when the widget size decreases*/
    overflow-x:auto;  
    overflow-y:auto;
}
.box-content h5 {
    font-size:1.0em;
}
.box-header-btns {
    top: 0px;/*8px*/
    right: 0px;/*10px*/
    cursor: pointer;
    position: absolute;
    display: inline;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}

.zindex {
  z-index: 1050 !important;
}

div.mainWidget{
    height:100%;
}

.widgetName{
/*    top:1.5px;
    position: relative;*/
}

.fullscreen {
    width: 100%;
    height: 100%;
}

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

    .fullscreen { 
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
}}

/*

Settings Menu outer Div styles
Save and Load Menu Styles
Delete Menu Styles

*/

label{
    font-weight: 200;
}
.row {
    margin-left:0px;
    margin-right:0px;
}

.caretstyles{
    top: 12px;
    right: 12px;
    position: absolute;
}

.load-widget-styles{
    width:100%;
    overflow:hidden;
    background-color: #fff;
    color:#000;
    border-radius:0px;
}

.save-widget-styles{
    width:100%;
    overflow:hidden;
    background-color: #fff;
    color:#000;
    border-radius:0px;
}

.sbtns{
    position: relative;
    border-radius:0px;
    overflow:hidden;
    background-color:#07D1EA;
    color:#fff;
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

div.settingsMenu,div.deldatatable,div.saveloaddatatable{
    background-color:#242833;
    height:100%;
    margin:0px;
    color:#fff;
    position: relative;
    overflow-y:hidden;
    overflow-x:hidden;
}


/*widget styles for mobile screens*/
@media only screen and (max-width: 599px) {
    div.box-content {
        height: 200px;
    }
    .mbl-label{
        font-size: 10px;
    }
    .mbl-inputitems{
        border-radius:0px;
        height:25px;
    }
    .mbl-inneritems{
        padding:0px 10px;
    }
    .hr-double-col1-1{
        margin-top:62px;margin-bottom:5px;
    }
    .mbl-input-grp{
        width:100%;
        border-radius:0px;
    }
    .drpdwn-name{
        line-height: 1.2em;
    }
    .drpdwn-caret{
        margin-top:4px;
    }
    .drpdown-list-item{
        font-size:9px;
        padding:1px;
        margin-top:3px;
        margin-bottom:3px;
    }
    .drpdwn-input-item{
        margin-top: 2px;
        height:12px;
        width:12px;
    }
    .sbtns{
        margin-right:5px;
    }
    .req-label{
        font-size:8px;
        float:right;
    }
    .applybtn {
        border-radius:0px;
        color:black;
        line-height:1.45em;
        height:25px;
        font-size:10px;
        padding:3px 15px;
    }
    .hr-double-col1{
        margin-top:110px;
        margin-bottom:5px;
    }
    .hr-double-col1-2-clock{
        margin-top:62px;
        margin-bottom:5px;
    }
    .hr-double-col1-2-timer{
        margin-top:14px;
        margin-bottom:5px;
    }
    .hr-double-col1-2{
        margin-top:110px;
        margin-bottom:5px;
    }  
    .mbl-sbtns{
        position: relative;
        border-radius: 0px;
        overflow: hidden;
        background-color: #07D1EA;
        color: #fff;
        margin-right: 5px;
    }
    .hr-double-col1-2-timezone{
        margin-top:62px;
        margin-bottom:5px;
    }
    .hr-double-col1-2-events{
        margin-top:14px;
        margin-bottom:5px;
    }
}

/*widget styles for tablet screens*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Column 1 - Elements 3 styles*/
    .settingstablettop {
        width: 100%;
        height: 100%;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        font-family: "Open Sans", Sans-serif;   
    }
    .mbl-input-grp{
        width:100%;
        border-radius:0px;
    } 
    .drpdwn-caret{
        margin-top:4px;
    }
    .tablet-sbtns{
        position: relative;
        border-radius: 0px;
        overflow: hidden;
        background-color: #07D1EA;
        color: #fff;
        margin-right: 5px;
        padding: 3px 6px;
    }
    .mbl-label{
        font-size: 10px;
    }
    .tablestyle{
        display:table;
    }
    .tablecellstyle10{
        display: table-cell;
        float:none;
        width:100%;
    }
    .tablecellstyle1{
        display: table-cell;
        float:none;
    }
    .req-label{
        font-size:8px;
        float:right;
    }
    .col1-2-data{
        border-radius:0px;
        font-size:9px;
        height:15px;
        background-color: #fff;
    }
    .applybtn {
        font-size:9px;
        padding:0px 2px;
        height:15px
    }
    .cbox{
        font-size:9px;
        margin-top:5px;
        margin-bottom:5px;
    }
    .input-cbox{
        margin-top: 0px;
        margin-bottom:5px;
        height:12px;
        width:12px
    }
    .colorpicker{
        margin-left:10px;
        height:17px;
        width:15px
    }
    .col1-2-hr{
        margin-bottom:5px;
    }
    .mbl-inputitems{
        border-radius:0px;
        height:15px;
    }
    .mbl-inneritems{
        font-size:9px;
        padding:0px 12px;
        height:15px;
    }
    .mbl-input-grp{
        width:100%;
        border-radius:0px;
    }
    .drpdown-list-item{
        font-size:9px;
        padding:1px;
        margin-top:3px;
        margin-bottom:3px;
    }
    .drpdwn-input-item{
        margin-top: 2px;
        height:12px;
        width:12px;
    }
    .categorydrpdown{
        margin-top: -2px !important;
    }
    .settingstablet-col1-3el {
        width: 100%;
        height: 5%;
        height:45px;
        margin: 0;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
        font-family: "Open Sans", Sans-serif;   
    }
    .settingstabletbottom-col1-3el {
        width: 100%;
        height:5%;
        font-family: "Open Sans", Sans-serif;   
    } 
}

