.md-sidenav-right {
    background-color: #020613;
}

md-list .md-subheader { 
    height: 40px !important;
    min-height: 40px !important;
    background-color: #020613 !important;
}

.md-subheader .md-subheader-inner {
    padding: 12px;
    color: #ccc;
}

md-toolbar {
    background-color: #020613 !important;
    border-bottom: 3px solid #07D1EA;
    height: 53px;
    min-height: 50px;
}

md-content#right {
    color: #ccc;
    background-color: #020613;
}

md-list-item, md-list-item .md-list-item-inner { 
    height: 40px !important;
    min-height: 40px !important;
}

md-list {
    padding: 0px 0px 0px 0px !important;
}

md-list-item#list1 {
    font-size: 16px;
}

md-list-item#list2 {
    font-size: 15px;
    padding-left: 16px;
}

md-list-item#list3 {
    font-size: 14px;
    padding-left: 34px;
}

md-list-item:hover {
    background-color: #242833 !important;
}

md-list-item .md-list-item-inner:hover {
    background-color: #242833 !important;
}

md-list-item:hover {
    color: #fff;
    border-left: 4px solid #07D1EA;
}

.md-button:not([disabled]):hover {
    background-color: #242833;
}

md-divider {
    border-top-width: 2px;
    background-color: #4d4d4d;
}

.show-hide {
    display: none;
}

.show-flex {
    display: none;
}

md-content.main {
    overflow-x: hidden; 
}

@media only screen and (max-width: 768px) {
  .show-hide {
        display: block;
  }

  .show-flex {
        display: flex;
  }
}

#overlay {
    position: fixed;
    left: 15%;
    top: 5%;
    padding: 25px;
	padding-bottom: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 70%;
    height: 95%;
    z-index: 100;
	overflow-y: scroll;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

body.custom-modal-open #fade {
	background-color: darkred;
    -moz-opacity: 0.9;
    opacity: .90;
    filter: alpha(opacity=90);
}

#custom-modal.ng-enter {
	opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
	opacity: 1;
}
#custom-modal.ng-leave {
	transition: opacity .5s ease-out;
	opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
	opacity: 0;
}
md {
	background-color: #eee;
	display: block;
	padding: 1em;
}