#alarmpanel-row {
    margin-left: 2px;
    margin-bottom: 2px;
    margin-top:50px
}
.mbl-alarm {
    display:none;
}
.tablet-alarm{
    display:none;
}

.masteralarm {
    width:100%; 
    height:115px;
    display:inline-block;
    background-color:#ccc;
 }
.button {
    position:relative;
    margin: -20px -50px;
    width:100px;
    top:23%;
    left:50%;
}
.alarm-vehicle{
    border-radius:0px;
    width:100px;
    height:100px;
    background:#12c700;
    color:#ffffff;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
}
.alarm-subsys{
    border-radius:0px;
    width:100px;
    height:50px;
    margin-top:10px;
    margin-bottom:10px;
    background:#12c700;
    color:#ffffff;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
}

@media only screen and (max-width: 599px) {

    .mbl-alarm {
       display:block;
    }
    .mainalarm{
        display:none;
    }
    .tablet-alarm{
        display:none;
    }
    .dlog-header {
        font-size:10px;
    }
    .dlog-row {
        background-color: #F2F3F4;
        font-size:9px;
        text-align: center;
        font-weight: 400;
        margin-top:1px;
        margin-bottom:1px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    #datalogtable {
        max-height: 250px;
    }
    .tablet-alarm{
        display:block;
    }
    .mainalarm{
        display:none;
    }
    .mbl-dl {
        display:none;
    }
     .dlog-header {
        font-size:10px;
    }
    .dlog-row {
        background-color: #F2F3F4;
        font-size:9px;
        text-align: center;
        font-weight: 400;
        margin-top:1px;
        margin-bottom:1px;
    }
}





