    <!--Left side nav bar -->
    <!-- <div ng-include="" src="'./views/partials/left_sidebar.ejs'" ng-controller="LeftSidebarCtrl" ></div> -->
    <left-sidebar></left-sidebar>
    <!-- End of Left Side Nav -->

    <!-- Main Dashboard Navigation-->
    <dashboard></dashboard>
    <!-- <div ng-include="" src="'./views/partials/main.ejs'" ng-controller="DashboardCtrl" ></div> -->

    <!--Right Side Nav -->
    <right-sidebar></right-sidebar>
    <!-- <div ng-include="" src="'./views/partials/right_sidebar.ejs'"></div> -->
  <!--End of Right Side Nav -->