<!--Left Side Nav -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn pull-right" id="closebtn" onclick="closeLeftNav()">&times;</a>
    <form class="navbar-form">
        <div class="form-group"> <!-- style="display:inline;" -->
            <div class="input-group">
                <input type="text" class="form-control" id="input-search" placeholder="Search">
                <span class="input-group-addon" id="group-search">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </form>
    <a ng-repeat="item in $ctrl.menuitems" class="leftmenu" href="#">{{ item }}</a>
</div>