<div layout-fill layout="vertical">
    <section flex layout="horizontal">
        <!--Left Sidenav-->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$ctrl.locks.lockLeft">
            <left-sidebar></left-sidebar>
        </md-sidenav>
        <!--End Left Sidenav-->
        <!--Main Dashboard Navigation-->
        <md-content flex class="main">
            <div id="main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid" id="top-header">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" id="QRegular" ng-click="$ctrl.openLeftNav()">
                                <img id="main-img" src="/media/logos/quindar_regular.svg" alt="Quindar"/>
                            </a>
                            <a class="navbar-brand" href="#" id="QBlack" ng-click="$ctrl.openLeftNav()">
                                <img id="main-img" src="/media/logos/Quindar_Icon_Black.svg" alt="Quindar"/>
                            </a>
                        </div>
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <img ng-src="{{$ctrl.currentMission.missionImage}}" ng-show="$ctrl.currentMission.missionImage" id="missionImage"/>
                               <span id="missionName" style="position:relative;top:13px;left:6px;font-size:16px">{{$ctrl.currentMission.missionName}}</span>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="statusicons">
                                <status-icons></status-icons> 
                            </li>
                            <li>
                                <ul class="nav navbar-nav time">
                                    <li class="clock" id="txt">{{ $ctrl.clock.utc }}</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="dropdown-toggle" id="username" data-toggle="dropdown" href="#"
                                >{{ $ctrl.name }}</a>
                                <small id="callsign"> {{ $ctrl.role.cRole.callsign }} </small>
                                <ul class="dropdown-menu logout-bar">
                                    <li ><a href="" ng-click="$ctrl.logout($event)" target="_self">Logout</a></li>
                                    <li ><a href="#" ng-click="$ctrl.showSettings()">Settings</a></li>
                                </ul>
                            </li>
                            <li id="cfgmenu">
                                <a href="#" id="add-widget" ng-click="$ctrl.openRightNav()"> 
                                    <span class="fa fa-bars bars" aria-hidden="true"> </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!--Main Dashboard for Widgets -->
                <div class="container-fluid">
                    <grid></grid>
                </div>

                <!-- Dashboard Footer -->
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted"></p>
                    </div>
                </footer>
            </div>
        </md-content>
        <!--End Main Dashboard Navigation-->
        <!--Right Sidenav-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$ctrl.locks.lockRight">
            <right-sidebar></right-sidebar>
        </md-sidenav>
        <!--End Right Sidenav-->
    </section>
</div>