<div layout="column" style="height:100%">
<md-content flex-gt-sm="50" flex-xs="80" flex-sm="70" layout="column" layout-padding class="comm-widget">
    <form name="commandForm">
        <div layout="row" flex="100" id="comm-row">
            <md-input-container flex="25" class="input-container">
                <label ng-style="labelStyle">Command</label>
                <input ng-model="cmd" name="cmd" placeholder="" type="text" ng-change="changeInput()" ng-disabled="disableInput" ng-class="disableInput ? 'disabled' : 'input-arg'" md-no-asterisk required>
                <div ng-messages="commandForm.cmd.$error" ng-show="false">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="input-container">
                <label ng-style="labelStyle">Arguments</label>
                <input ng-model="arguments" name="arguments" placeholder="" type="text" ng-change="changeInput()" ng-disabled="disableInput" ng-class="disableInput ? 'disabled' : 'input-arg'" md-no-asterisk required>
                <div ng-messages="commandForm.arguments.$error" ng-show="false">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <md-input-container flex="25" class="input-container">
                <input aria-label="Enter" type="submit" value="ENTER" ng-disabled="disableEnter" ng-click="enter()" ng-class="entered ? 'enter-clicked' : 'enter-button'">
            </md-input-container>
        </div>
        <div layout="row" flex="100" id="lock-row">
            <md-input-container flex="25" class="lock-container">
                <input aria-label="command" ng-model="command.name" type="text" class="disabled" ng-disabled="true">
            </md-input-container>
            <md-input-container flex="50" class="lock-container">
                <input aria-label="argument" ng-model="command.arguments" type="text" class="disabled" ng-disabled="true">
            </md-input-container>
            <md-input-container flex="25" class="lock-container">
                <input aria-label="Lock" type="button" value="LOCK" ng-disabled="!disableEnter" ng-click="lockCommand()" ng-class="locked ? 'enter-clicked' : 'enter-button'">
            </md-input-container>
        </div>
        <div layout="row" flex="100">
            <md-input-container flex="25" class="lock-container">
                <label aria-label="Gateway" class="gateway" ng-disabled="true" ng-style="labelStyle">Gateway</label>
            </md-input-container>
            <md-input-container flex="50" class="lock-container">
                <input aria-label="SFES" class="greentext disabled" ng-disabled="true" value="SFES">
            </md-input-container>
            <md-input-container flex="25" class="lock-container">
                <input aria-label="Send" type="button" value="SEND" ng-click="sendCommand()" ng-disabled="!disableLock || !disableEnter" ng-class="sent ? 'send-clicked' : 'enter-button'">
            </md-input-container>
        </div>
    </form>
</md-content>
<md-content flex-gt-sm="50" flex-xs="20" flex-sm="30" layout="column" class="command-log" ng-show="widget.settings.commandlog">
    <md-content class="header-log">
        <div layout="row">
            <div flex="15" class="left-cmdlogheader">
                Time
            </div>
            <div flex="15" class="left-cmdlogheader">
                Command
            </div>
            <div flex="20" class="left-cmdlogheader">
                Arguments
            </div>
            <div flex="30" class="left-cmdlogheader">
                Status
            </div>
            <div flex="20" class="right-cmdlogheader">
                Data
            </div>
        </div>
    </md-content>
    <md-content class="commandLogTable">
        <div layout="row" ng-repeat="comm in commandLog | orderBy:'-sent_timestamp'">
            <div flex="15" class="left-cmdlogrow" style="word-wrap: break-word;">
                {{comm.time}}
            </div>
            <div flex="15" class="left-cmdlogrow" style="word-wrap: break-word;">
                {{comm.name}}
            </div>
            <div flex="20" class="left-cmdlogrow" style="word-wrap: break-word;">
                {{comm.arguments}}
            </div>
            <div flex="30" class="left-cmdlogrow" style="word-wrap: break-word;">
                {{ comm.responseStatus }}
            </div>
            <div flex="20" class="right-cmdlogrow" style="word-wrap: break-word;">
                {{ comm.responseData }}
            </div>
        </div>
    </md-content>
</md-content>
</div>