<div class="saveloaddatatable mainclk">
	<div class="settingstop">
        <div class="row settingsrightcol" style="display: table; height:33.33%;">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Type">Select Type</label>
                    <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px">
                        <md-tooltip md-direction="top">Add a Clock or Timer</md-tooltip> 
                    </span>
                </div>
                <div class="row settingsspace" style="display: table;height:13px"></div>
                <div>
                	<ui-select tagging ng-model="selected.type" theme="bootstrap" >
        				<ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
        				<ui-select-choices repeat="type in types">
            				<div ng-bind="type.value | highlight: $select.search"></div>
        				</ui-select-choices>
        			</ui-select>
              <!--       <span ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'" style="font-size:12px;color:#dd2c00">Required</span> -->
                </div>          
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-5" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Timezone" ng-show="selected.type.value == 'Clock'">Timezone</label>
                    <span class="fa fa-info-circle" ng-show="selected.type.value == 'Clock'" aria-hidden="true" style="font-size: 12px">
                        <md-tooltip md-direction="top">Select timezone for clock</md-tooltip>
                    </span>
                    <label for="Name" ng-show="selected.type.value == 'Timer'">Name</label>
                    <span class="fa fa-info-circle" ng-show="selected.type.value == 'Timer'" aria-hidden="true" style="font-size: 12px">
                        <md-tooltip md-direction="top">Name for the timer</md-tooltip>
                    </span>
                </div>
                <div class="row settingsspace" style="display: table;height:13px"></div>
                <div ng-show="selected.type.value == 'Clock'">
                    <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                        <ui-select-match placeholder="Select Timezone">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="timezone in timezones">
                            <div ng-bind="timezone.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <!-- <span ng-hide="selected.timezone" style="font-size:12px;color:#dd2c00">Required</span> -->
                </div>
                <div ng-show="selected.type.value == 'Timer'">
                    <input type="text" class="form-control save-widget-styles" id="inlineFormInput" placeholder="Enter Name" ng-model="name" maxlength="20">
                    <!-- <span ng-hide="name" style="font-size:12px;color:#dd2c00">Required</span> -->
                </div>
            </div> 
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsrightcol" style="display: table; height:23.33%;">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none"></div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-5" style="display: table-cell; float:none" ng-show="selected.type.value == 'Timer'">
                <div class="row">
                    <label for="Reference Time">Reference Time</label>
                    <span class="fa fa-info-circle" ng-show="selected.type.value == 'Timer'" aria-hidden="true" style="font-size: 12px">
                        <md-tooltip md-direction="top">Select timer reference time</md-tooltip>
                    </span>
                </div>
                <div class="row settingsspace" style="display: table;height:13px"></div>
                <div>
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group setbtn">
                            <input type="text" class="form-control reftime-input" data-ng-model="reference">
                            <span class="input-group-addon reftime-block">
                                <img class="linerange reftime-image" ng-src="/icons/line-plot-widget/aud_lineplot_customrange.svg">
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="calendar">
                        <datetimepicker data-ng-model="reference" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                  <!--   <span ng-hide="reference" style="font-size:12px;color:#dd2c00">Required</span> -->
                </div>
            </div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
        <div class="row settingsrightcol" style="display: table; height:13.33%;"></div>
		<div class="row settingsbottom" style="display:table">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					<hr>
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10 btndivider">
                    <button type="submit" ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)" ng-disabled="selected.type.value !== 'Clock' || selected.type.value !== 'Timer'">ADD</button>
					<button type="submit" ng-show="selected.type.value == 'Clock'" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)" ng-disabled="!selected.timezone">ADD</button>
                    <button type="submit" ng-show="selected.type.value == 'Timer'"  class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)" ng-disabled="!reference">ADD</button>
					<button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeSettings(widget)">CLOSE</button>
				</div>
			</div>	
		</div>		
	</div>
</div>


<!-- For Mobile Screens -->
<div class="container mbl-clk">
    <form>
        <label for="Type" class="mbl-label">Select Type</label>
        <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px">
            <md-tooltip md-direction="top">Add a Clock or Timer</md-tooltip>
        </span>
        <div class="mbl-input-grp">
            <ui-select tagging ng-model="selected.type" theme="bootstrap">
                <ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="type in types">
                    <div ng-bind="type.value | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        <!--     <span ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
        </div>
        <label for="Timezone" ng-show="selected.type.value == 'Clock'" class="mbl-label">Timezone</label>
        <span class="fa fa-info-circle" ng-show="selected.type.value == 'Clock'" aria-hidden="true" style="font-size: 10px">
            <md-tooltip md-direction="top">Select timezone for clock</md-tooltip>
        </span>
        <label for="Name" ng-show="selected.type.value == 'Timer'" class="mbl-label" >Name</label>
        <span class="fa fa-info-circle" ng-show="selected.type.value == 'Timer'" aria-hidden="true" style="font-size: 10px">
            <md-tooltip md-direction="top">Name for the timer</md-tooltip>
        </span>
        <div ng-show="selected.type.value == 'Clock'">
            <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                <ui-select-match placeholder="Select Timezone">{{$select.selected.value}}</ui-select-match>
                <ui-select-choices repeat="timezone in timezones">
                    <div ng-bind="timezone.value | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          <!--   <span ng-hide="selected.timezone" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
            <hr class="hr-double-col1-2-clock">
        </div>
        <div ng-show="selected.type.value == 'Timer'">
            <input type="text" class="form-control save-widget-styles" id="inlineFormInput" placeholder="Enter Name" ng-model="name" maxlength="20" style="padding-left:10px">
            <!-- <span ng-hide="name" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
        </div>
        <label for="Reference Time" class="mbl-label" ng-show="selected.type.value == 'Timer'">Reference Time</label>
        <span class="fa fa-info-circle" ng-show="selected.type.value == 'Timer'" aria-hidden="true" style="font-size: 12px">
            <md-tooltip md-direction="top">Select timer reference time</md-tooltip>
        </span>
        <div ng-show="selected.type.value == 'Timer'">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group setbtn">
                    <input type="text" class="form-control reftime-input" data-ng-model="reference">
                    <span class="input-group-addon reftime-block">
                        <img class="linerange reftime-image" ng-src="/icons/line-plot-widget/aud_lineplot_customrange.svg">
                    </span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="calendar">
                <datetimepicker data-ng-model="reference" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
            </ul>
   <!--          <span ng-hide="reference" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
            <hr class="hr-double-col1-2-timer">
        </div>
        <hr class="hr-double-col1-2" ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'">
        <button type="submit" ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)" ng-disabled="selected.type.value !== 'Clock' || selected.type.value !== 'Timer'">ADD</button>
        <button type="submit" ng-show="selected.type.value == 'Clock'" ng-click="saveSettings(widget)" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)" ng-disabled="!selected.timezone">ADD</button>
        <button type="submit" ng-show="selected.type.value == 'Timer'" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="saveSettings(widget)" ng-disabled="!reference">ADD</button>
        <button type="submit" class="btn btn-primary col-sm-2 mbl-sbtns mbl-label" ng-click="closeSettings(widget)">CLOSE</button> 
    </form>
</div>

<!-- For Tablet Screens -->
<div class="saveloaddatatable tablet-clk">
    <div class="settingstablettop">
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:16px;">
                    <label for="Type" class="mbl-label">Select Type</label>
                    <span class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px">
                        <md-tooltip md-direction="top">Add a Clock or Timer</md-tooltip>
                    </span>
                </div>
                <div class="mbl-input-grp">
                    <ui-select tagging ng-model="selected.type" theme="bootstrap">
                        <ui-select-match placeholder="Select Type">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="type in types">
                            <div ng-bind="type.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                 <!--    <span ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
                </div>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div> 
        </div>
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px">
                    <label for="Timezone" ng-show="selected.type.value == 'Clock'" class="mbl-label">Timezone</label>
                    <span class="fa fa-info-circle" ng-show="selected.type.value == 'Clock'" aria-hidden="true" style="font-size: 10px">
                        <md-tooltip md-direction="top">Select timezone for clock</md-tooltip>
                    </span>
                    <label for="Name" ng-show="selected.type.value == 'Timer'" class="mbl-label" >Name</label>
                    <span class="fa fa-info-circle" ng-show="selected.type.value == 'Timer'" aria-hidden="true" style="font-size: 10px">
                        <md-tooltip md-direction="top">Name for the timer</md-tooltip>
                    </span>
                </div>
                <div ng-show="selected.type.value == 'Clock'">
                    <ui-select tagging ng-model="selected.timezone" theme="bootstrap">
                        <ui-select-match placeholder="Select Timezone">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="timezone in timezones">
                            <div ng-bind="timezone.value | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
             <!--        <span ng-hide="selected.timezone" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
                </div>
                <div ng-show="selected.type.value == 'Timer'">
                    <input type="text" class="form-control save-widget-styles" id="inlineFormInput" placeholder="Enter Name" ng-model="name" maxlength="20" style="padding-left:10px">
             <!--        <span ng-hide="name" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
                </div>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div>
        </div>
        <div class="row settingstablet-col1-3el tablestyle">
            <div class="col-sm-1 tablecellstyle1"></div>
            <div class="col-sm-10 tablecellstyle10">
                <div class="row" style="height:19px">
                    <label for="Reference Time" class="mbl-label" ng-show="selected.type.value == 'Timer'">Reference Time</label>
                    <span class="fa fa-info-circle" ng-show="selected.type.value == 'Timer'" aria-hidden="true" style="font-size: 10px">
                        <md-tooltip md-direction="top">Select timer reference time</md-tooltip>
                    </span>
                </div>
                <div ng-show="selected.type.value == 'Timer'">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group setbtn">
                            <input type="text" class="form-control reftime-input" data-ng-model="reference">
                            <span class="input-group-addon reftime-block">
                                <img class="linerange reftime-image" ng-src="/icons/line-plot-widget/aud_lineplot_customrange.svg">
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="calendar">
                        <datetimepicker data-ng-model="reference" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
           <!--          <span ng-hide="reference" style="font-size:10px;color:#dd2c00" class="req-label">Required</span> -->
                </div>
            </div>
            <div class="col-sm-1 tablecellstyle1"></div>
        </div>
        <div class="row settingstabletbottom-col1-3el tablestyle">
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 tablecellstyle10">
                    <hr class="col1-2-hr">
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 tablecellstyle1"></div>
                <div class="col-sm-10 btndivider tablecellstyle10">
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)" ng-hide="selected.type.value == 'Clock' || selected.type.value == 'Timer'" ng-disabled="selected.type.value !== 'Clock' || selected.type.value !== 'Timer'">ADD</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Clock'" ng-disabled="!selected.timezone">ADD</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="saveSettings(widget)" ng-show="selected.type.value == 'Timer'" ng-disabled="!reference">ADD</button>
                    <button type="submit" class="btn btn-primary col-md-2 tablet-sbtns mbl-label" ng-click="closeSettings(widget)">CLOSE</button> 
                </div>
                <div class="col-sm-1 tablecellstyle1"></div>
            </div>  
        </div>
    </div>      
</div>
