

<div layout="row" class="clock-row header-log">
	<div flex="45" class="left-header">
		Name
	</div>
  	<div flex="5" class="center-header">
		<md-icon class="md-icon delta" md-svg-icon="/icons/triangle.svg"></md-icon>    
  	</div>
  	<div flex="10" class="center-header">
    	D
  	</div>
  	<div flex="1" class="center-header">
    	.
  	</div>
  	<div flex="10" class="center-header">
    	H
  	</div>
  	<div flex="1" class="center-header">
    	:
  	</div>
  	<div flex="10" class="center-header">
    	M
  	</div>
  	<div flex="1" class="center-header">
    	:
  	</div>
  	<div flex="10" class="center-header">
  		S
  	</div>
    <div flex class="center-header">
    </div>
</div>
<div layout="row" class="clock-row" ng-repeat="clock in clocks">
  	<div flex="45" class="left-row" ng-style="clock.style">
    	{{clock.name}}
  	</div>
  	<div flex="5" class="center-row" ng-style="clock.style">
    	{{clock.delta}}
  	</div>
  	<div flex="10" class="center-row" ng-style="clock.style">
    	{{clock.time.days}}
  	</div>
  	<div flex="1" class="center-row" >
    	.
  	</div>
  	<div flex="10" class="center-row" ng-style="clock.style">
    	{{clock.time.hours}}
  	</div>
  	<div flex="1" class="center-row" >
    	:
  	</div>
  	<div flex="10" class="center-row" ng-style="clock.style">
    	{{clock.time.minutes}}
  	</div>
  	<div flex="1" class="center-row">
    	:
  	</div>
  	<div flex="10" class="center-row" ng-style="clock.style">
  		{{clock.time.seconds}}
  	</div>
    <div flex class="center-row">
        <md-icon class="md-icon trash" md-svg-icon="/icons/trash_black.svg" ng-click="remove($index)"></md-icon>
    </div>
</div>

