.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 65%;
	padding-top: 0%;
	vertical-align: top;
	overflow: hidden;
}
.svg-content {
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%
	top: 0;
	left: 0;
}

.lineplot {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 1.5;
	opacity:1;
}

.linelabel {
	font-family: "Open Sans", Sans-serif;	
	font-size:12px;
}

.settingstop {
	width: 100%;
	height: 70%;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	font-family: "Open Sans", Sans-serif;	
	font-size:14px;
}

.settingsbottom {
	width: 100%;
	height: 20%;
	font-family: "Open Sans", Sans-serif;	
	font-size:14px;
}

.settingsrightcol {
	width: 100%;
	height: 70%;
	margin: 0;
	top: 0;
	margin: 0;
	margin: 0;
	bottom: 0;
	font-family: "Open Sans", Sans-serif;	
	font-size:14px;
}

.settingsspace {
	width: 100%;
	height: 5%;
	font-family: "Open Sans", Sans-serif;	
}

.colorpicker {
	background-color: #ccc;
	border:0;
	padding:0;
	width:20px;
	height:20px;
}

.colorpicker:focus {
	outline:none;
}

.applybtn {
	border-radius:0px;
	color:black;
	line-height:1.45em;
}

.mbl-lp {
	display:none;
}

@media only screen and (max-width: 599px) {
    .mbl-lp {
       display:block;
    }
    .mainlp{
    	display:none;
    }
	.colorpicker {
    	background-color: #ccc;
   	 	border: 0;
    	padding: 0;
    	width: 15px;
    	height: 17px;
	}
}

