<div id="lpmain">
	<div class="svg-container" id="divlp"></div>
	<p class="liveicon"><img class = "linelive" ng-src="{{imageUrl}}"></img></p>
	<button type="button" class="playicon " ng-click="play()" ng-disabled="disbtn">
		<img class="linehome" ng-src="{{playImg}}"></img>
	</button>
	<button type="button" class="pauseicon" ng-click="pause()">
		<img class="linehome" ng-src="{{pauseImg}}"></img>
	</button>
	<button type="button" class="homeicon" ng-click="goHome()">
		<img class="linehome" ng-src="/icons/line-plot-widget/lineplot_home.svg"></img>
	</button>
</div>