#input-search {
    background-color: #242833;
    border: #242833;
    border-radius: 0px;
    color: #FFFFFF;
}

#group-search {
    border-radius:0px;     
    background-color: #464954;
    border: #464954;
    color: #FFFFFF;
}

/*Styles should be enabled when inline search icon form is used*/
/*.search-icon {
    position: absolute;
    top: 0%;
    right: 10px;
    margin-top: 3px;
    z-index:100;
}*/

.md-sidenav-left {
    background-color: #020613;
}

md-icon.large {
    min-width:16px !important;
    min-height:16px !important;
  	width: 16px !important;
    height: 16px !important;
    margin-right: 16px !important;
    margin-top: 12px !important;
}

md-icon.small {
    min-width:12px !important;
    min-height:12px !important;
  	width: 12px !important;
    height: 12px !important;
    margin-right: 16px !important;
    margin-top: 14px !important;
    margin-bottom: 14px !important;
}

md-icon.smaller {
    min-width:8px !important;
    min-height:8px !important;
    width: 8px !important;
    height: 8px !important;
    margin-right: 16px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

md-content#left {
    color: #ccc;
    background-color: #020613;
}
