<!--Left Side Nav -->
<md-toolbar>
    <div class="md-toolbar-tools">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" id="input-search" placeholder="Search">
                <span class="input-group-addon" id="group-search">
                    <img ng-src="/icons/search.svg"/>
                </span>
            </div>
        </form>
    </div>
</md-toolbar>
<md-content flex role="navigation" id="left">
    <md-list>
        <md-list-item ng-click="$ctrl.showVehicleMenu()">
            <md-icon class="md-icon" md-svg-icon="/icons/aud_signal.svg"></md-icon>
            <p>GMAT</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list class="md-dense" flex ng-show="$ctrl.vehicleMenu" ng-repeat = "vehicle in $ctrl.vehicles">
            <md-list-item ng-click="$ctrl.showCategoryMenu(vehicle)" id="list2">
                <md-icon class="md-icon" md-svg-icon="/icons/aud_sat.svg"></md-icon>
                <p>{{ vehicle.name }}</p>
            </md-list-item>
            <md-list class="md-dense" flex ng-show="vehicle.active" ng-repeat="data in vehicle.config">
                <md-divider></md-divider>
                <md-list-item id="list3" ng-click="$ctrl.showTelemetryMenu(data)">
                    <md-icon class="md-icon small" md-svg-icon="/icons/aud_target.svg"></md-icon>
                    <p>{{ data.category }}</p>
                </md-list-item>
                <md-list class="md-dense" flex ng-show="data.active">
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="value in data.values" ng-click="$ctrl.selectConfig(vehicle,value)" id="list4" >
                        <md-icon class="md-icon smaller" md-svg-icon="/icons/aud_arrow_01-2.svg"></md-icon>
                        <p>{{ value }}</p>
                    </md-list-item>
                </md-list>
            </md-list>
            <md-divider></md-divider>
        </md-list>
    </md-list>
</md-content>
<!--End of Left Side Nav -->
