<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
</div>
<div class="modal-body" style="padding-left:20px; padding-right:20px;">
    <h5>{{$ctrl.modalLabel}}</h5>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Yes</button>
<!--     <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="openAttitudeList()">Reorder Attitude</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="openPositionList()">Reorder Position</button> -->
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.close()">No</button>
</div>