<div id="container">
	<model model-url="modelUrl" widget="widget"></model>
	<div id="vehicle" ng-show="widget.settings.vehicle">
		<div id="canvas-box">
			<ul id="box">
				<li>
					<b>Vehicle </b> {{ widget.settings.vehicle }}
				</li>
				<li>
					<b>q1 </b> {{ widget.settings.quaternion.q1 }}
				</li>
				<li>
					<b>q2 </b> {{ widget.settings.quaternion.q2 }}
				</li>
				<li>
					<b>q3 </b> {{ widget.settings.quaternion.q3 }}
				</li>
				<li>
					<b>qc </b> {{ widget.settings.quaternion.qc }}
				</li>
			</ul>
		</div>
	</div>
	<div id="axis">
		<div id="canvas-box">
			<ul id="box">
				<li style="color:black">Coordinate: ECI</li>
			    <li style="color:red">X Axis</li>
			    <li style="color:green">Y Axis</li>
			    <li style="color:blue">Z Axis</li>
				<li style="color:#111950">Earth Direction</li>
				<li style="color:#FF6D00">Sun Direction</li>
			</ul>
		</div>
	</div>
	<div id="slider">
		<input type="range" min="{{ min }}" max="{{ max }}" ng-model="widget.settings.zoom" step="{{ step }}">
	</div>
<!-- 	<button ng-click="changeModel()">Change Model</button>
	<input ng-model="assimpModelUrl"/>
 -->
</div>
