<div id="container">
	<model model-url="modelUrl" widget="widget" quaternion="quaternion"></model>
	<div id="vehicle" ng-show="widget.settings.vehicle">
		<div id="canvas-box">
			<ul id="box">
				<li>
					<b>Coordinate: </b> ECI
				</li>
				<li>
					<b>Vehicle: </b> {{ widget.settings.vehicle }}
				</li>
				<li ng-repeat = "q in widget.settings.attitudeData track by $index">
					<b>{{q.id}}: </b><span ng-style="quaternion.color[$index]">{{ quaternion[q.id] }}</span>
				</li>
			</ul>
		</div>
	</div>
	<div id="axis">
		<div id="canvas-box">
			<ul id="box">
			    <li style="color:red"><strong>X Axis</strong></li>
			    <li style="color:green"><strong>Y Axis</strong></li>
			    <li style="color:blue"><strong>Z Axis</strong></li>
				<li ng-show="widget.settings.vehicle" style="color:#111950"><strong>Earth Direction</strong></li>
				<li ng-show="widget.settings.vehicle" style="color:#FFAB00"><strong>Sun Direction</strong></li>
			</ul>
		</div>
	</div>
	<div id="slider">
		<input type="range" min="{{ min }}" max="{{ max }}" ng-model="widget.settings.zoom" step="{{ step }}">
	</div>
<!-- 	<button ng-click="changeModel()">Change Model</button>
	<input ng-model="assimpModelUrl"/>
 -->
</div>
