<div class="saveloaddatatable">
	<div class="settingstop">
        <div class="row settingsrightcol" style="display: table">
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none">
                <div class="row">
                    <label for="Vehicle">Select Vehicle</label>
                </div>
                <div class="row settingsspace" style="display: table"></div>
                <div>
                	<ui-select tagging ng-model="selected.vehicle" theme="bootstrap">
        				<ui-select-match placeholder="Select Vehicle">{{$select.selected.value}}</ui-select-match>
        				<ui-select-choices repeat="vehicle in vehicles | filter: $select.search track by vehicle.value">
            				<div ng-bind="vehicle.value | highlight: $select.search"></div>
        				</ui-select-choices>
        			</ui-select>
                </div>          
            </div>
            <div class="col-sm-2" style="display: table-cell; float:none"></div>
            <div class="col-sm-4" style="display: table-cell; float:none"></div>
            <div class="col-sm-1" style="display: table-cell; float:none"></div>
        </div>
		<div class="row settingsbottom" style="display:table">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					<hr>
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10 btndivider">
					<button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="saveSettings(widget)">SAVE</button>
					<button type="submit" class="btn btn-primary col-sm-2 sbtns" ng-click="closeSettings(widget)">CLOSE</button>
				</div>
			</div>	
		</div>		
	</div>
</div>