<div class="deldatatable">
	<div class="savestyles">
		<form class="form-inline savestyles" >
			<div class="row">
  				<div class="col-sm-11">
  					<label for="DeleteWidget">Delete Widget?</label>
  				</div>
  			</div>
			<div class="row">
  				<div class="col-sm-11">
					<hr/>
				</div>
			</div>
	 		<div class="row">
				<div class="col-sm-11">
	  				<button type="submit" class="btn btn-primary sbtns" ng-click="$ctrl.deleteWidget($ctrl.widget)">YES</button>
	  				<button type="submit" class="btn btn-primary sbtns" ng-click="$ctrl.closedeleteWidget($ctrl.widget)">NO</button>
	  			</div>
	  		</div>
		</form>
	</div>
</div>