<div class="saveloaddatatable">
	<div class="savestyles">
		<form class="form-inline savestyles" >
			<div class="row">
  				<div class="col-sm-5">
  					<label for="SaveWidget">Save Widget</label>
  				</div>
   				<div class="col-sm-1"></div>
    			<div class="col-sm-5">
    				<label for="LoadWidget">Load Widget</label>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-sm-5">
 					<input type="text" class="form-control save-widget-styles " id="inlineFormInput" placeholder="Enter Name">
  				</div>
   				<div class="col-sm-1"></div>
    			<div class="col-sm-5">
    				<div class="dropdown">
                   		<button type="button" class="btn dropdown-toggle load-widget-styles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    		<span class="pull-left">Widget</span> 
                    		<span class="caret caretstyles"></span>
        				</button>
    				</div>
  				</div>
  		    </div>
			<div class="row">
  				<div class="col-sm-11">
					<hr/>
				</div>
			</div>
 			<div class="row">
		        <div class="col-sm-11">
  					<button type="submit" class="btn btn-primary sbtns">SAVE</button>
  					<button type="submit" class="btn btn-primary sbtns" ng-click="$ctrl.closeSaveLoadSettings($ctrl.widget)">CLOSE</button>
  				</div>
  			</div>
		</form>
	</div>
</div>