<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="dashboard for mission operations platform, Quindar">
  <meta name="author" content="Chavi Malhotra">
  <meta name="author" content="Taruni Gattu">
  <title>Quindar Dashboard</title>
  <link href="/css/bootstrap-min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/dashboardstyles.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/gridstack.css"/>
  <link href="/css/widgetstyles.css" rel="stylesheet">
  <link href="/css/positions.css" rel="stylesheet"> 


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  
  <script src="/app.js"></script>
  <script src="/controllers/MainController.js"></script>
  <script src="/components/components.js"></script>
  <script src="/services/user.js"></script>
  <script>
  var username = "<%= user.google.name %>";
  var usermail = "<%= user.google.email %>";
  </script>
 </head>

<body ng-app="app">
  <dashboard-container id="wrapper" class="toggled"></dashboard-container>

  <!-- jQuery -->
  <script src="/scripts/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/scripts/bootstrap.min.js"></script>
  <!-- lodash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
  <!-- gridstack library -->
  <script src="/scripts/dist/gridstack.all.js"></script>
  <!-- UTC Clock -->

  <!-- Side Navigation -->
  <script src="/scripts/side-navigation.js"></script>
  <!-- D3 -->
  <script src="/scripts/d3.min.js"></script>
  <!-- topojson-client -->
  <script src="/scripts/topojson-client.min.js"></script>
  <!-- Dashboard widget grid layout-->
  <!-- <script src="/scripts/widgetgrid.js"></script> -->
  <script src="/scripts/dashboard.js"></script>

  





  </body>
  </html>
