<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="dashboard for mission operations platform, Quindar">
    <meta name="author" content="Chavi Malhotra">
    <meta name="author" content="Taruni Gattu">
    <title>Quindar - Home</title>
    <link rel="icon" href="/media/logos/Quindar_Regular_favicon.png" type="image/png" sizes="16x16">
    <link href="/css/bootstrap-min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/dashboardstyles.css" rel="stylesheet">
    <link href="/directives/line/line.css" rel="stylesheet">
    <link href="/directives/datatable/datatable.css" rel="stylesheet">
    <link href="/directives/satellite/satellite.css" rel="stylesheet">
	<link href="/css/datetimepicker.css" rel="stylesheet">
    <link href="/css/paneliconstyles.css" rel="stylesheet">
    <link href="/directives/groundtrack/groundtrack.css" rel="stylesheet">
    <link href="/directives/clock/clock.css" rel="stylesheet">
    <link href="/directives/datalog/datalog.css" rel="stylesheet">
    <link href="/components/deleteMenu/delete.css" rel="stylesheet">
    <link href="/directives/alarmpanel/alarmpanel.css" rel="stylesheet">
    <link href="/directives/systemmap/systemmap.css" rel="stylesheet">
    <link href="/directives/command/command.css" rel="stylesheet">
    <link href="/css/vis.min.css" rel="stylesheet" type="text/css"/>
    <link href="/directives/timeline/timeline.css" rel="stylesheet">
    <link href="/css/ng-sortable.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ng-sortable.style.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/dygraph.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/select.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/gridster/angular-gridster.min.css" rel="stylesheet"/>
    <link href="/css/gridster/grid.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/angular-material.min.css">
    <link href="/components/rightSidebar/right_sidebar.css" rel="stylesheet">
    <link href="/components/leftSidebar/left_sidebar.css" rel="stylesheet">

    <!-- script to get user details from backend -->
    <script>
        var user = <%- JSON.stringify(user) %>;
    </script>
</head>

<body ng-app="app">
    <dashboard></dashboard>

    <!-- jQuery -->
    <script src="/scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>

    <!-- scripts for AngularJS and UI Bootstrap -->
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-sanitize.min.js"></script>
    <script src="/scripts/ui-bootstrap-tpls.js"></script>

    <!-- Angular UI Select Script -->
    <script src="/scripts/select.min.js"></script>

    <!-- Angular Gridster Script and Stylesheet -->
    <script src="/scripts/gridster/angular-gridster.js"></script>
    <script src="/scripts/angular-prompt.js"></script>

    <!-- AngularJS Material Dependencies -->
    <script src="/scripts/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria.min.js"></script>
    <script src="/scripts/angular-messages.min.js"></script>

    <!-- AngularJS Material Javascript -->
    <script src="/scripts/angular-material.min.js"></script>

    <script type="text/javascript" src="/scripts/angular-screenfull.min.js"></script>
    <script type="text/javascript" src="/scripts/screenfull.js"></script>

    <script src="/app.js"></script>

    <!-- Dygraph script -->
    <script src="/scripts/dygraph.min.js"></script>

    <!-- D3 -->
    <script src="/scripts/d3.min.js"></script>
    <script src="/scripts/topojson-client.min.js"></script>
    
    <!-- Calendar datetimepicker -->
    <script src="/scripts/moment.js"></script>
    <script src="/scripts/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="/scripts/datetimepicker.js"></script>
    <script src="/scripts/datetimepicker.templates.js"></script>
    <!-- angular web storage-->
    <script src="/scripts/ngStorage.min.js"></script>

    <!-- angular md -->
    <script src="/scripts/angular-marked.min.js"></script>
    <script src="/scripts/marked.js"></script>

    <!-- THREE.js files -->
    <script src="/scripts/three.min.js"></script>
    <script src="/scripts/AssimpJSONLoader.js"></script>
    <script src="/scripts/OrbitControls.js"></script>

    <!-- Vis Js library and its settings dependencies -->
    <script type="text/javascript" src="/scripts/vis.min.js"></script>
    <script type="text/javascript" src="/scripts/angularjs-dropdown-multiselect.js"></script>
    <script type="text/javascript" src="/scripts/ng-sortable.js"></script>

    <!-- components -->
    <script src="/components/dashboard/dashboard.js"></script>
    <script src="/components/grid/grid.js"></script>
    <script src="/components/rightSidebar/rightSidebar.js"></script>
    <script src="/components/leftSidebar/leftSidebar.js"></script>
    <script src="/components/deleteMenu/deleteMenu.js"></script>
    <script src="/components/saveMenu/saveMenu.js"></script>
    <script src="/components/statusIcons/statusIcons.js"></script>  

    <!-- services -->
    <script src="/services/dashboardService.js"></script>
    <script src="/services/gridService.js"></script>
    <script src="/services/d3Service.js"></script>
    <script src="/services/sidebarService.js"></script>
    <script src="/services/solarService.js"></script>
    <script src="/services/datastatesService.js"></script>
    <script src="/services/userService.js"></script>
    <script src="/services/statusboardService.js"></script>
    <script src="/services/commandService.js"></script>
    <script src="/services/odeService.js"></script>
    
    <!--directives -->
    <script src="/directives/widget.js"></script>
    <script src="/directives/datatable/datatable.js"></script>
    <script src="/directives/groundtrack/groundtrack.js"></script>
    <script src="/directives/line/line.js"></script>
    <script src="/directives/line/linesettings.js"></script>
    <script src="/directives/datatable/datatablesettings.js"></script>
    <script src="/directives/satellite/satellite.js"></script>
    <script src="/directives/satellite/model.js"></script>
    <script src="/directives/satellite/satellitesettings.js"></script>
    <script src="/directives/groundtrack/groundtracksettings.js"></script>
    <script src="/directives/clock/clock.js"></script>
    <script src="/directives/clock/clocksettings.js"></script>
    <script src="/directives/datalog/datalog.js"></script>
    <script src="/directives/datalog/datalogsettings.js"></script>
    <script src="/directives/alarmpanel/alarmpanel.js"></script>
    <script src="/directives/alarmpanel/alarmpanelsettings.js"></script>
    <script src="/directives/systemmap/systemmap.js"></script>
    <script src="/directives/systemmap/systemmapsettings.js"></script>
    <script src="/directives/command/command.js"></script>
    <script src="/directives/command/commandsettings.js"></script>
    <script src="/directives/timeline/timeline.js"></script>
    <script src="/directives/timeline/timelinesettings.js"></script>

</body>
</html>