<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
    <title>Quindar Login</title>
    <link rel="icon" href="/media/logos/Quindar_Regular_favicon.png" type="image/png" sizes="16x16">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-min.css">
    <link rel="stylesheet" href="/css/site-fonts.css">
    <link rel="stylesheet" href="/css/login-page-2.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">	
</head>
<body id="login-page">
	<!-- limiting max-width to 600px prevents image & login from getting huge on big screens -->
	<div class="col-sm-offset-1 col-sm-5 content">
		<div class="sign-in">
			<img id="qlogo" src="/media/logos/quindar_white.svg" alt="Quindar"/>
            <a href="/auth/google" class="btn btn-primary siginLink">
                <span class="fa fa-google-plus"></span> 
                Sign in with Google
            </a>
		</div>

		<div class="footer-logos">
			<div class="row">
				<div class="col-xs-4">
					<img src="/media/logos/AUD_audacy_logo_white.png" alt="Audacy"/>
				</div>
				<div class="col-xs-4">
					<img src="/media/logos/AUD_angularjs_logo_white.png" alt="Angular"/>
				</div>
				<div class="col-xs-4">
					<img src="/media/logos/AUD_mongodb_logo_white.png" alt="MongoDB"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<img src="/media/logos/AUD_nodejs_logo_white.png" alt="NodeJS"/>
				</div>
				<div class="col-xs-4">
					<img src="/media/logos/AUD_docker_logo_white.png" alt="Docker"/>
				</div>
				<div class="col-xs-4">
					<img src="/media/logos/AUD_github_logo_white.png" alt="Github"/>
				</div>
			</div>
		</div>
	</div>
	<div id="image_credit_container">
		<p id="image_credit"></p>
	</div>

	<script>

		/* 
			The list of available background images should be scraped from 
			http://www.space.com/wallpapers. Select a random page, then a random
			image, then get the download URL and credit line. If no image or
			connection is available, then use one local image as a fallback.
			
		*/
			
		// local fallback in case Quindar can't reach space.com
		var imgs=[]; cred=[];
		
		imgs[0] = "/media/background/acidalia-planitia-1600.jpg";
		cred[0] = "Acidalia Planitia (Mars) - NASA/JPL-Caltech/Univ. of Arizona";

		imgs[1] = "/media/background/jezero-crater-1600.jpg";
		cred[1] = "Jezero Crater (Mars) - NASA/JPL-Caltech/Univ. of Arizona";

		imgs[2] = "/media/background/europa-remastered-1600.jpg";
		cred[2] = "Jupiter's Moon Europa - NASA, JPL-Caltech, SETI Institute, Cynthia Phillips, Marty Valenti";
		
		imgs[3] = "/media/background/cosmic-fireball-falling-over-alma-1920.jpg";
		cred[3] = "Fiery Voyage Over ALMA - ESO/C. Malin";
		
		imgs[4] = "/media/background/star-trails-eso-paranal-1920.jpg";
		cred[4] = "Star Trails - Univ. of Arizona";
	
		imgs[5] = "/media/background/mars-sand-dunes-1920.jpg";
		cred[5] = "Martian Sand Dunes - NASA/JPL-Caltech";

		imgs[6] = "/media/background/messy-galaxy-hubble-1920.jpg";
		cred[6] = "Hubble Galaxy - NASA/JPL-Caltech";
		
		imgs[7] = "/media/background/magellanic-clouds-1920.jpg";
		cred[7] = "Magellanic Clouds above the Atacama Desert in Chile - ESO/Y. Beletsky";

		
		// get other possible choices remotely
		// tba

		
		// determine array size, and get random index
		idx = Math.floor(Math.random() * imgs.length);
		
		//update the document display
		document.body.style.backgroundImage = "url('" + imgs[idx] + "')";
		document.getElementById("image_credit").innerHTML = cred[idx];


	</script>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</body>
</html>
